<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TBD</title>
		<meta name="description">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="lightbox/css/lightbox.css">
		<link rel="stylesheet" href="slick/slick/slick.css"/>
		<link rel="stylesheet" href="slick/slick/slick-theme.css"/>
		<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico"/>
	</head>
	<body>
		<nav class="fixed-nav-bar">
			<div id="menu" class="menu">
				<a class="sitename" href="/">tbd</a>
				<!-- Example responsive navigation menu  -->
				<a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
				<ul class="menu-items">
					<li><a class="about selectedAbout" href="/about">about</a></li>
					<li><a class="contact" href="/contact">contact</a></li>
				</ul>
			</div>
		</nav>
		<section class="content wrapper">
			<div class="description">
				<h1>theodora boyadjis designs</h1>
			</div>
			<div class="aboutMe">
				<div class="aboutMeDescription">
					<img src="images/about_me.jpg">
					<p class="brief">Theodora Boyadjis is a licensed Architect and LEED Accredited Professional.
					She has 10 years of experience in high end residential, hospitality, restaurant, educational and tenant development projects. Theodora graduated NJIT in 2007 and became LEED AP certified in 2009. Based out of Jersey City, NJ, Theodora works in many areas of NJ and NY including Summit, Short Hills, Madison, Chatham, Jersey City, Randolph, Livingston, NYC and Staten Island.</p>
				</div>
				<p class="mainDescription">Architecture has always been a part of her life in many different forms. Ms. Boyadjis grew up working with her grandfather who was a finish carpenter. He taught her how to appreciate detailed architectural elements to create homes. She came to realize that architecture is a mix of many different subjects, and this intrigued her. Taking a few art and drafting classes in high school reaffirmed her interest and decided to pursue this interest at NJIT. During her last 2 years she worked at Tekton Enterprises. They helped her develop a basis for putting together working drawings. After graduating, she acquired a position at The Rosen Group. They molded her knowledge for drawings and taught her how to develop design skills. She worked on many high end residential projects, gaining a different skill as each one came through the office. Towards the end of her time with them, she started taking on additional responsibilities. Studio 1200 gave her the opportunity to progress into a managerial role. They gave her the exposure needed to cater to clients and create relationships with people she worked closely with. Throughout her career she developed an extensive knowledge of federal and local codes.<br><br>
				Outside of her work experiences, Ms. Boyadjis enjoys designing and building furniture for her personal use, using her surroundings as inspiration. She believes design and attention to detail is the ultimate success of any project.</p>
			</div>
			<div class="push"></div>
		</section>
		<section>
			<div class="footer">
				<ul>
					<li class="logos">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="images/linkedin_logo.png">
						</a>
					</li>
					<li class="logos2">
						<img src="images/tbd.png">
					</li>
				</ul>
				<p class="copyright">theodora boyadjis designs llc</p>
				<p class="copyright">&copy; TBD 2016</p>
			</div>
		</section>
	</body>
</html>