<section class="content wrapper">
<div class="description">
	<h1>theodora boyadjis designs</h1>
</div>
<div class="aboutMe">
	<div class="aboutMeDescription">
		<img src="https://dl.dropboxusercontent.com/s/u9eqssfmq6mnhwg/about_me.jpg">
		<p class="brief">Theodora Boyadjis is a licensed Architect and LEED Accredited Professional.
		She has 10 years of experience in high end residential, hospitality, restaurant, educational and tenant development projects. Theodora graduated NJIT in 2007 and became LEED AP certified in 2009. Based out of Jersey City, NJ, Theodora works in many areas of NJ including Summit, Short Hills, Madison, Chatham, Jersey City, Randolph and Livingston.</p>
	</div>
	<p class="mainDescription">Architecture has always been a part of her life in many different forms. Ms. Boyadjis grew up working with her grandfather who was a finish carpenter. He taught her how to appreciate detailed architectural elements to create homes. She came to realize that architecture is a mix of many different subjects, and this intrigued her. Taking a few art and drafting classes in high school reaffirmed her interest and she decided to pursue this interest at NJIT. During her last 2 years she worked at Tekton Enterprises. They helped her develop a basis for putting together working drawings. After graduating, she acquired a position at The Rosen Group molding her knowledge for drawings and refining her design skills. She worked on many high end residential projects, gaining a different skill as each one came through the office. Towards the end of her time with them, she started taking on additional responsibilities. Studio 1200 gave her the opportunity to progress into a managerial role which gave her the exposure needed to cater to clients and create relationships with those she worked closely with. Throughout her career she developed an extensive knowledge of federal and local codes.<br><br>
	Outside of her work experiences, Ms. Boyadjis enjoys designing and building furniture for her personal use, using her surroundings as inspiration. She believes design and attention to detail is the ultimate success of any project.</p><br><br>
	<h3>Professional Services</h3>
	<p>Architectural Design</p>
	<p>Interior Design</p>
	<p>Conceptual Space Planning & Design</p>
	<p>Feasibility Study</p>
	<p>Construction Drawings, Specifications, & Bidding Documents</p>
	<p>Project Management</p>
	<p>Architectural Lighting Design</p>
	<p>Survey & Documentation of Existing Facilities</p>
	<p>Zoning Analysis/Municipal Approvals</p>
	<p>Coordination of Engineering Services</p><br>
	<h3>Credentials</h3>
	<p>Registered Architect in NJ & NY</p>
	<p>LEED Accredited Professional</p><br>
	<h3>Project Types</h3>
	<p>Residential</p>
	<p>Corporate Offices</p>
	<p>Hospitality</p>
	<p>Institutional</p>
	<p>Commercial</p>
</div>