<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Theodora Boyadjis</title>
    <meta name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://res.cloudinary.com/hptiz0can/image/upload/v1636253379/images/eb_kitchen/kitchen_EB_01_nnynbn.jpg"/>
    <meta property="og:url" content="http://www.theodorabdesigns.com/">
    <meta property="og:title" content="TBD | Theodora Boyadjis Designs">
    <meta property="fb:app_id" content="1763843543879671">
    <meta name="wb:op" content="36880e625a336d2e4fc719936de278fb"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bower_components/ekko-lightbox/dist/ekko-lightbox.css">
    <link rel="stylesheet" href="slick/slick/slick.css"/>
    <link rel="stylesheet" href="slick/slick/slick-theme.css"/>
    <link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico"/>
  </head>
  <body>
    <nav class="nav justify-content-center flex-sm-row fixed-top">
      <a class="nav-link index" href="/">tbd</a>
      <a class="nav-link about" href="/about">about</a>
      <a class="nav-link contact" href="/contact">contact</a>
      <a class="nav-link faq" href="/faq">faq</a>
    </nav>
    <section class="content wrapper">
      <div class="projectRow">
        <div class="projectDescription">
          <h2 class="project-category">Restaurant Renovation</h2>
          <p><strong>Location:</strong><br>Ava's Kitchen & Bar</p>
          <p>Kenilworth, NJ</p>
        </div>
        <div class="projectSlider">
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253265/images/ava_bar_kitchen/ava_01_wm2ku3.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253265/images/ava_bar_kitchen/ava_01_wm2ku3.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253265/images/ava_bar_kitchen/ava_02_hleuaw.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253265/images/ava_bar_kitchen/ava_02_hleuaw.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253269/images/ava_bar_kitchen/ava_33_hld2c1.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253269/images/ava_bar_kitchen/ava_33_hld2c1.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253269/images/ava_bar_kitchen/ava_31_sggkux.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253269/images/ava_bar_kitchen/ava_31_sggkux.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253269/images/ava_bar_kitchen/ava_30_sr2uyn.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253269/images/ava_bar_kitchen/ava_30_sr2uyn.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253267/images/ava_bar_kitchen/ava_16_o8ty5a.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253267/images/ava_bar_kitchen/ava_16_o8ty5a.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253268/images/ava_bar_kitchen/ava_25_qcyhrd.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253268/images/ava_bar_kitchen/ava_25_qcyhrd.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253268/images/ava_bar_kitchen/ava_24_tn0jxi.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253268/images/ava_bar_kitchen/ava_24_tn0jxi.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253267/images/ava_bar_kitchen/ava_23_caqpkq.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253267/images/ava_bar_kitchen/ava_23_caqpkq.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253267/images/ava_bar_kitchen/ava_22_elxzul.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253267/images/ava_bar_kitchen/ava_22_elxzul.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253266/images/ava_bar_kitchen/ava_11_kw5nla.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253266/images/ava_bar_kitchen/ava_11_kw5nla.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253265/images/ava_bar_kitchen/ava_05_coh4ph.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253265/images/ava_bar_kitchen/ava_05_coh4ph.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253265/images/ava_bar_kitchen/ava_04_r9eswv.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253265/images/ava_bar_kitchen/ava_04_r9eswv.jpg">
            </a>
          </div>
        </div>
      </div>
      <div class="projectRow">
        <div class="projectDescription">
          <h2 class="project-category">Church Renovation</h2>
          <p><strong>Location:</strong><br>First Baptist Church</p>
          <p>Piscataway, New Jersey</p>
        </div>
        <div class="projectSlider">
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548644/images/first_baptist_church/IMG_8317_qpvzr7.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548644/images/first_baptist_church/IMG_8317_qpvzr7.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548646/images/first_baptist_church/IMG_8321_reivyr.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548646/images/first_baptist_church/IMG_8321_reivyr.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548643/images/first_baptist_church/IMG_8323_gtgo8e.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548643/images/first_baptist_church/IMG_8323_gtgo8e.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548641/images/first_baptist_church/IMG_8332_uy79ku.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548641/images/first_baptist_church/IMG_8332_uy79ku.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548654/images/first_baptist_church/IMG_8339_mmlfuu.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548654/images/first_baptist_church/IMG_8339_mmlfuu.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548645/images/first_baptist_church/IMG_8354_z4hwbg.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548645/images/first_baptist_church/IMG_8354_z4hwbg.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548663/images/first_baptist_church/IMG_8369_agz0f1.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548663/images/first_baptist_church/IMG_8369_agz0f1.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548661/images/first_baptist_church/IMG_8382_uvlbba.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548661/images/first_baptist_church/IMG_8382_uvlbba.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548658/images/first_baptist_church/IMG_8397_ctjkwz.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548658/images/first_baptist_church/IMG_8397_ctjkwz.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548663/images/first_baptist_church/IMG_8412_ly4gkf.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548663/images/first_baptist_church/IMG_8412_ly4gkf.jpg">
            </a>
          </div>
          <div>
            <a href="https://res.cloudinary.com/hptiz0can/image/upload/v1771548659/images/first_baptist_church/IMG_8463_tfraw5.jpg" data-toggle="lightbox" data-gallery="ava">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1771548659/images/first_baptist_church/IMG_8463_tfraw5.jpg">
            </a>
          </div>
        </div>
      </div>
      <div class="push"></div>
    <section>
      <div class="footer">
        <!-- <img class="footer-logo" src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253451/images/logos/tbd_bfzbtj.png"> -->
        <!-- <p class="copyright" style="margin-bottom:10px;">theodora boyadjis designs llc</p> -->
        <div class="social-media">
          <p class="copyright">
            <a href="https://www.instagram.com/tbdarch/" target="_blank">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/instagram_logo_de4rqj.png">
            </a>
          </p>
          <p class="copyright">
            <a href="https://www.facebook.com/theodorabdesigns/" target="_blank">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/facebook_logo_hdqqp2.png">
            </a>
          </p>
          <p class="copyright">
            <a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
              <img class="linkedinLogo" src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/linkedin_logo_iws6bz.png">
            </a>
          </p>
          <p class="copyright">
            <a href="http://www.houzz.com/pro/tboyadjis/__public" target="_blank">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/houzz_logo_itrokm.png" style="height:25px;">
            </a>
          </p>
          <p class="copyright">
            <a href="https://www.pinterest.com/theodorabdesign/" target="_blank">
              <img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/Pinterest-badge-36px_l4ujom.png" style="height:25px;">
            </a>
          </p>
      </div>
      <div class="buildZoom-logo">
          <div class='bz-bdg'>
            <a target='_blank' title='BuildZoom.com' href='https://www.buildzoom.com/contractor/theodora-boyadjis-designs?ad_location=co_website'>
              <img alt='BuildZoom.com' width='230px' height='auto' border='0' src='https://badges.buildzoom.com/2021/t5d2.png' />
            </a>
            <a target='_blank' href='https://www.buildzoom.com/jersey-city-nj/architects?ad_location=co_website'>Architect in Jersey City</a>
            <img width='1px' height='1px' alt='' src='https://track.buildzoom.com/badge_load?track_id=EkNL4G&entity=Contractor&event_type=impression&ad_type=contractor_badge' />
          </div>
      </div>
        <p class="copyright footer-contact">&copy; TBD <%= Date.today.year %> | info@theodorabdesigns.com | (908) 208-6085 | made with &#10084; by <a class="creator" href="https://github.com/japaranian">japaranian</p>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="slick/slick/slick.min.js"></script>
    <script type="text/javascript" src="/bower_components/ekko-lightbox/dist/ekko-lightbox.js"></script>
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
    <script type="text/javascript">
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });

      $(document).ready(function(){
        $('.projectSlider').slick({
          infinite: false,
          variableWidth: true,
          mobileFirst: true,
          slidesToShow: 1,
          slidesToScroll: 1
        });
      });
    </script>

  </body>
</html>