<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TBD</title>
		<meta name="description">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="lightbox/css/lightbox.css">
		<link rel="stylesheet" href="slick/slick/slick.css"/>
		<link rel="stylesheet" href="slick/slick/slick-theme.css"/>
		<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico"/>
	</head>
	<body>
		<nav class="fixed-nav-bar">
			<div id="menu" class="menu">
				<a class="sitename" href="/">tbd</a>
				<a class="about menu-items" href="/about">about</a>
				<a class="contact selectedContact menu-items" href="/contact">contact</a>
			</div>
		</nav>
		<section class="content wrapper">
			<div class="description">
				<h1>theodora boyadjis designs</h1>
			</div>
			<div class="canstruction">
				<p>If you would like to make a canned good donation please email us at the email address below.</p><br>
				<p class="goal">Help us reach our goal by October 6.</p>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHiAYJKoZIhvcNAQcEoIIHeTCCB3UCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBQu0EAwH4683bDhXL2Ldr4vawwhdPSYSebl/N2+c5BgB3DFBqg4RgM+E83Bd9/Iixgc3bpYPVYb3TvjmEHH352UQCOGhmlqbwtijZZhVLeeiw5wcWzADRnRKYufWVkoBwJJgCSBtzHPnvK5khctz1gUyWjqXJ0yMs1d2bAEGLWPzELMAkGBSsOAwIaBQAwggEEBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECJX3GtKiZYFfgIHgdfDoT0iJ6P0LwqIboiVRbq/V/3qdQsqKvbYbFY6pmzpLLxShzfGntzptBsjW3tL4nv2f+yFUKbMEHLBbya2Auwa5UVvXbRZHvpNruYd/ui7vdA8PMYdDMJY7UGZc0JEpp/m9ctRfWnP94/tDNk8IbTCiPvaQhCuCDXQ6jJVTMTxbwchGms5J332AAbVQwqhFP+A7EQO5QPYHt72qxglfI9UGFoqDApFoOsRa4SSibN32M4Mciw2kAQlbe6PXJQ+P1N0/bfdd2xo2eZTdX18cbbR67FTnDF0qV0e5QyFhCLegggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNjA5MjAwMTI5NTRaMCMGCSqGSIb3DQEJBDEWBBT5M+HCGumjktgRzcjzBvas00QbNzANBgkqhkiG9w0BAQEFAASBgKpudidkYmcCTv5XVM35NaS/JO5rwGobz7joUYAnb8f94LMhXZ8laLeUVmIXt3YG6jVkinLOAXTPEpXtwxa9xvmaUaPQAJmwJV4y+QVmycESiyDza58jmRqCze3KAn0V6SDeUH8C4ZYYSz8lGdbFJHBgFdRM25WZRzmhuJ7bQRnX-----END PKCS7-----">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form><br>
					<!-- progress bar -->
					<div class="progress-bg">
				    	<div class="progress-bar">
				        	<h3 class="raised">$1417</h3>
				        </div>
			        	<h3 class="goal">of  $6,000</h3>
				    </div>

				<h3>We thank you for your generosity! Please contact us</a> with any questions.</h3><br>
			</div>
			<div class="contactInfo">
				<h3>email: <a href="mailto:info@theodorabdesigns.com">info@theodorabdesigns.com</a></h3>
				<h3>phone: (908) 208-6085</h3>
				<h3>based out of Jersey City, NJ</h3>
			</div>
			<div class="push"></div>`
		</section>
		<section>
			<div class="footer">
				<ul>
					<li class="logos">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="images/linkedin_logo.png">
						</a>
					</li>
					<li class="logos2">
						<img src="images/tbd.png">
					</li>
				</ul>
				<p class="copyright">theodora boyadjis designs llc</p>
				<p class="copyright">&copy; TBD 2016</p>
				<p class="madeBy">made with &#10084; by <a class="creator" href="https://github.com/japaranian">japaranian</a></p>
			</div>
		</section>
	</body>
</html>