<section class="content wrapper">
	<div class="description">
		<h1>theodora boyadjis designs</h1>
	</div>
	<div class="contactInfo">
		<h3>email: <a href="mailto:info@theodorabdesigns.com">info@theodorabdesigns.com</a></h3>
		<h3>phone: (908) 208-6085</h3>
		<h3>based out of Jersey City, NJ</h3>
	</div>
	<br>
	<h3 style="text-align:center; margin-bottom:30px;">read our reviews on <a href="http://www.houzz.com/pro/tboyadjis/__public" target="_blank">Houzz!</a></h3>