<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Theodora Boyadjis</title>
		<meta name="description">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:image" content="https://res.cloudinary.com/hptiz0can/image/upload/v1636253379/images/eb_kitchen/kitchen_EB_01_nnynbn.jpg"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="lightbox/css/lightbox.css">
		<link rel="stylesheet" href="slick/slick/slick.css"/>
		<link rel="stylesheet" href="slick/slick/slick-theme.css"/>
		<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico"/>
	</head>
	<body>
		<nav class="nav justify-content-center flex-sm-row fixed-top">
			<a class="nav-link index" href="/">tbd</a>
			<a class="nav-link about" href="/about">about</a>
			<a class="nav-link contact selectedContact" href="/contact">contact</a>
			<a class="nav-link events" href="/events">events</a>
			<a class="nav-link faq" href="/faq">faq</a>
		</nav>
		<section class="content wrapper">
			<div class="description">
<!-- 				<h1>theodora boyadjis designs</h1>
 -->			</div>
			<div class="contactInfo">
				<h3>email: <a href="mailto:info@theodorabdesigns.com">info@theodorabdesigns.com</a></h3>
				<h3>phone: (908) 208-6085</h3>
				<h3>Monday through Friday 9:30am - 6:00pm</h3>
				<h3>based out of Jersey City, NJ</h3>
			</div>
			<br>
			<h3 style="text-align:center; margin-bottom:30px;">read our reviews on <a href="http://www.houzz.com/pro/tboyadjis/__public" target="_blank">Houzz!</a></h3>
			<div class="push"></div>
		</section>
		<section>
			<div class="footer">
				<img class="footer-logo" src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253451/images/logos/tbd_bfzbtj.png">
				<p class="copyright" style="margin-bottom:10px;">theodora boyadjis designs llc</p>
				<div class="social-media">
					<p class="copyright">
						<a href="https://www.instagram.com/tbdarch/" target="_blank">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/instagram_logo_de4rqj.png">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.facebook.com/theodorabdesigns/" target="_blank">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/facebook_logo_hdqqp2.png">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/linkedin_logo_iws6bz.png">
						</a>
					</p>
					<p class="copyright">
						<a href="http://www.houzz.com/pro/tboyadjis/__public" target="_blank">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/houzz_logo_itrokm.png" style="height:25px;">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.pinterest.com/theodorabdesign/" target="_blank">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/Pinterest-badge-36px_l4ujom.png" style="height:25px;">
						</a>
					</p>
			</div>
			<div class="buildZoom-logo">
					<div class='bz-bdg'>
						<a target='_blank' title='BuildZoom.com' href='https://www.buildzoom.com/contractor/theodora-boyadjis-designs?ad_location=co_website'>
							<img alt='BuildZoom.com' width='230px' height='auto' border='0' src='https://badges.buildzoom.com/2021/t5d2.png' />
						</a>
						<a target='_blank' href='https://www.buildzoom.com/jersey-city-nj/architects?ad_location=co_website'>Architect in Jersey City</a>
						<img width='1px' height='1px' alt='' src='https://track.buildzoom.com/badge_load?track_id=EkNL4G&entity=Contractor&event_type=impression&ad_type=contractor_badge' />
					</div>
			</div>
				<p class="copyright footer-contact">&copy; TBD 2021 | info@theodorabdesigns.com | (908) 208-6085 | made with &#10084; by <a class="creator" href="https://github.com/japaranian">japaranian</p>
			</div>
		</section>
	</body>
</html>