<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TBD</title>
		<meta name="description">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="lightbox/css/lightbox.css">
		<link rel="stylesheet" href="slick/slick/slick.css"/>
		<link rel="stylesheet" href="slick/slick/slick-theme.css"/>
		<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico"/>
	</head>
	<body>
		<nav class="fixed-nav-bar">
			<div id="menu" class="menu">
				<a class="sitename" href="/">tbd</a>
				<a class="about menu-items" href="/about">about</a>
				<a class="contact menu-items" href="/contact">contact</a>
				<a class="events menu-items selectedEvents" href="/events">events</a>
			</div>
		</nav>
		<section class="content wrapper">
			<div class="description">
				<h1>theodora boyadjis designs</h1>
			</div>
			<h3 class="eventTitle">CANstruction, Oct. 6, 2016</h3>
			<p class="eventsIntro">CANstruction is an event that calls design firms to create structures out of canned goods. All canned goods are donated to the <a class="link" href="http://www.cfbnj.org/" target="_blank">Community Food Bank of New Jersey</a> after the event.  It is a great opportunity to bring attention to the Food Banks' mission of fighting hunger and poverty.<br><br>
			The theme was 'Summer Athletic Games'. Upon deliberation, our team has chosen a game that took the country by storm this summer. It redefines what the typical "athletic" activity is and simultaneously pushes everyone to be physically active. People are no longer only visiting the park for a baseball game or basketball game, they are visiting to hunt Pokemon. This reinvented game has turned into an athletic competition between players, keeping track of the distance each player has traveled on foot or bicycle. It can also be played in teams.  People encourage each other to go out and find Pokemon while running errands.  We bring to life one of the key characteristics of this phenomenon.</p>
			<p class="eventsIntro">Our structure won the People's Choice Award, and will be on display at the Livingston Mall until October 16th.</p>
			<div class="canstructionImages">
				<a href="https://www.cubbyusercontent.com/pl/20161006_101945.jpg/_c7b1a36f2e32447490dba9299e73bb2b" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_101945.jpg/_c7b1a36f2e32447490dba9299e73bb2b">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9496.jpg/_eda952a57f6d40f19ead27d4effbadde" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9496.jpg/_eda952a57f6d40f19ead27d4effbadde">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9497.jpg/_c94ca5a603bb4a38a7e998eeb3bf4a50" data-lightbox="canstruction">	
					<img src="https://www.cubbyusercontent.com/pl/IMG_9497.jpg/_c94ca5a603bb4a38a7e998eeb3bf4a50">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9500.jpg/_ca83542f0ae34143af891c96f5078d0d" data-lightbox="canstruction">	
					<img src="https://www.cubbyusercontent.com/pl/IMG_9500.jpg/_ca83542f0ae34143af891c96f5078d0d">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9501.jpg/_837ef3a35b584a8193dd41ef9dd67cf0" data-lightbox="canstruction">	
					<img src="https://www.cubbyusercontent.com/pl/IMG_9501.jpg/_837ef3a35b584a8193dd41ef9dd67cf0">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9502.jpg/_d568525d382348798e71e2a0a58a60d6" data-lightbox="canstruction">	
					<img src="https://www.cubbyusercontent.com/pl/IMG_9502.jpg/_d568525d382348798e71e2a0a58a60d6">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9503.jpg/_81fc47a1b2a4429988bf3cdf9bd6fe42" data-lightbox="canstruction">	
					<img src="https://www.cubbyusercontent.com/pl/IMG_9503.jpg/_81fc47a1b2a4429988bf3cdf9bd6fe42">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_120316.jpg/_025611d0ddee46d4bfd8c47924245b38" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_120316.jpg/_025611d0ddee46d4bfd8c47924245b38">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9507.jpg/_96100eb594b04a00a5fb12e4346a1237" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9507.jpg/_96100eb594b04a00a5fb12e4346a1237">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9512.jpg/_00d5609656d1440d8a5a459452d2dc09" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9512.jpg/_00d5609656d1440d8a5a459452d2dc09">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9513.jpg/_d26a5c885fed48c09e3873f836056ffe" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9513.jpg/_d26a5c885fed48c09e3873f836056ffe">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9514.jpg/_a6f2488e23fb4cb7b2178056620ff0c4" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9514.jpg/_a6f2488e23fb4cb7b2178056620ff0c4">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9515.jpg/_d79879f1de52454dac80c01dc7eb9a1c" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9515.jpg/_d79879f1de52454dac80c01dc7eb9a1c">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9516.jpg/_79d19401834e4ded83dbe02166a1d610" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9516.jpg/_79d19401834e4ded83dbe02166a1d610">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_140054.jpg/_73a2c4fb6e3e498e85e9bc438919aa49" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_140054.jpg/_73a2c4fb6e3e498e85e9bc438919aa49">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9517.jpg/_07bba8e264564b7d892e43bbd098b5f4" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9517.jpg/_07bba8e264564b7d892e43bbd098b5f4">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_153146.jpg/_ce8edd1f26cf45d89c15a2fc873b83c6" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_153146.jpg/_ce8edd1f26cf45d89c15a2fc873b83c6">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9518.jpg/_de1bb8c263e04b07a3fba25e0bad1a7e" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9518.jpg/_de1bb8c263e04b07a3fba25e0bad1a7e">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9519.jpg/_42e53d6dda8b4d12a1b07e909c6fe7cf" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9519.jpg/_42e53d6dda8b4d12a1b07e909c6fe7cf">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_154032.jpg/_3b993f529af345c892bdcfab41b09fae" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_154032.jpg/_3b993f529af345c892bdcfab41b09fae">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_154036.jpg/_c005d1a86a464faca2be2dc8eb470356" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_154036.jpg/_c005d1a86a464faca2be2dc8eb470356">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_155244.jpg/_d0115234bddb4f8d851c32cd008c1f19" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_155244.jpg/_d0115234bddb4f8d851c32cd008c1f19">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_155257.jpg/_762cf3358f304508a4433076cc8c28c8" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_155257.jpg/_762cf3358f304508a4433076cc8c28c8">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_160811.jpg/_17146a44ecc64d06b98c6e9e47781154" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_160811.jpg/_17146a44ecc64d06b98c6e9e47781154">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_160818.jpg/_38fb3f50d38b4134b5a7ab6d667afdbc" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_160818.jpg/_38fb3f50d38b4134b5a7ab6d667afdbc">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9520.jpg/_3ae4821797594a6d9a21af5a9220e654" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9520.jpg/_3ae4821797594a6d9a21af5a9220e654">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/IMG_9524.JPG/_d56dc18c1d9b43ebb0377a34c5c36857" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/IMG_9524.JPG/_d56dc18c1d9b43ebb0377a34c5c36857">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_175707.jpg/_85d03913b8064c258dd1cd9c1178d95e" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_175707.jpg/_85d03913b8064c258dd1cd9c1178d95e">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_175713.jpg/_ed206fcce5d642949411281162162272" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_175713.jpg/_ed206fcce5d642949411281162162272">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_175416.jpg/_c489d56fddbc4274994cfa465f538361" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_175416.jpg/_c489d56fddbc4274994cfa465f538361">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_190145.jpg/_3d515f84740e4b21aa8d2af32f0d5acc" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_190145.jpg/_3d515f84740e4b21aa8d2af32f0d5acc">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_190201.jpg/_7641347b4be5475a9e3e97bcdf9441e5" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_190201.jpg/_7641347b4be5475a9e3e97bcdf9441e5">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_175723.jpg/_ba5eb61354bc486cadc84d85477f5427" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_175723.jpg/_ba5eb61354bc486cadc84d85477f5427">
				</a>
				<a href="https://www.cubbyusercontent.com/pl/20161006_182014.jpg/_3308c795296a4056aba31fd8ebc802a4" data-lightbox="canstruction">
					<img src="https://www.cubbyusercontent.com/pl/20161006_182014.jpg/_3308c795296a4056aba31fd8ebc802a4">
				</a>
			</div>
			<p class="eventsIntro">Thank you to our team: Andrea Herrera, Deanne Tabeta, Francisco Sarmiento, Lincy Thomas, Melanie Thomas, Scott Sorensen, Sean Swaszek, Sonia Parada</p>
			<p class="eventsIntro">Special thank you to our sponsors: Mina Talai, Aine O'Dwyer, Mary Hanna, Melissa Silberstang, Jocelyn Brekken, Boyadjis Familiy, Amy Lopez, Vogel Family, Melanie Koundourou, Claudio Breda, Janelle Ortiz, Bigos Family, St. George Greek Orthodox Sunday School, Hadjiloucas Family, Aline Trindade, Jessica Conners, Benny Ngai</p>
			<div class="sponsors">
				<img src="https://www.cubbyusercontent.com/pl/trader-joes.jpg/_781819ef9fc84c09bc09c504838f1160">
				<img src="https://www.cubbyusercontent.com/pl/MK-Logo.jpg/_367e02f9a44f424fa0e63abb5f3c72fe">
				<img class="raymondsLogo" src="https://www.cubbyusercontent.com/pl/Raymond's-logo.jpg/_ed56cb4d54ec414bb545925d2d275cca">
				<img src="https://www.cubbyusercontent.com/pl/Patrizias-of-Brooklyn.jpg/_1f64f7e1424c4baebba04e9486e66b14">
				<img src="https://www.cubbyusercontent.com/pl/shoprite-color-logo.jpg/_f8a352c3b29b4765b47889267259a0e2">
				<img src="https://www.cubbyusercontent.com/pl/NEW-ACME-LOGO-small.png/_43816fe0d64d4cc08878e268713e8b5b">
			</div>
			<h3 class="eventTitle">Who's Who May 26, 2016</h3>
			<p class="eventsIntro">Theodora Boyadjis is featured in World Wide Who's Who. You can read the article <a href="http://worldwidebrandingpr.com/press-release/theodora-boyadjis-recognized-for-excellence-in-architecture-planning">here</a>.</p>
			<div class="push"></div>
		</section>
		<section>
			<div class="footer">
				<img class="footer-logo" src="images/tbd.png">
				<p class="copyright" style="margin-bottom:10px;">theodora boyadjis designs llc</p>
				<div class="social-media">
					<p class="copyright" style="margin-right:15px;">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="images/linkedin_logo.png">
						</a>
					</p>
					<p class="copyright" style="margin-right:15px;">
						<a href="http://www.houzz.com/pro/tboyadjis/__public" target="_blank">
							<img src="images/houzz_logo.png" style="height:25px;">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.pinterest.com/theodorabdesign/" target="_blank">
							<img src="images/Pinterest-badge-36px.png" style="height:25px;">
						</a>
					</p>
			</div>
				<p class="copyright footer-contact">&copy; TBD 2016 | email: info@theodorabdesigns.com | (908) 208-6085 | made with &#10084; by <a class="creator" href="https://github.com/japaranian">japaranian</p>
			</div>
		</section>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="lightbox/js/lightbox.js"></script>
	</body>
</html>