<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Theodora Boyadjis</title>
		<meta name="description">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:image" content="https://res.cloudinary.com/hptiz0can/image/upload/v1636253379/images/eb_kitchen/kitchen_EB_01_nnynbn.jpg"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="lightbox/css/lightbox.css">
		<link rel="stylesheet" href="slick/slick/slick.css"/>
		<link rel="stylesheet" href="slick/slick/slick-theme.css"/>
		<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico"/>
	</head>
	<body>
		<nav class="nav justify-content-center flex-sm-row fixed-top">
			<a class="nav-link index" href="/">tbd</a>
			<a class="nav-link about" href="/about">about</a>
			<a class="nav-link contact" href="/contact">contact</a>
			<a class="nav-link events selectedEvents" href="/events">events</a>
			<a class="nav-link faq" href="/faq">faq</a>
		</nav>
		<section class="content wrapper">
			<div class="description">
<!-- 				<h1>theodora boyadjis designs</h1>
 -->			</div>
 			<h3 class="eventTitle habitat-header">Habitat for Humanity, June 1st, 2019</h3>
 			<p class="eventsIntro">We are participating in a habitat for humanity build with St. George Greek Orthodox Church on June 1st.<br>Please follow this <a href="https://build.habitatgpmc.org/participants/131117-theodora-boyadjis?ref=1&uid=300318" class="link" target="_blank">link</a> if you would like to donate and help fund the build.</p>
 			<div class="sponsors habitatForHumanity">
	 			<img class="reponsive" src="/images/st_george_logo.jpg" alt="">
	 			<img class="reponsive" src="/images/habitat_for_humanity.jpg" alt="">
 			</div>
			<h3 class="eventTitle">CANstruction, Oct. 6, 2016</h3>
			<p class="eventsIntro">CANstruction is an event that calls design firms to create structures out of canned goods. All canned goods are donated to the <a class="link" href="http://www.cfbnj.org/" target="_blank">Community Food Bank of New Jersey</a> after the event.  It is a great opportunity to bring attention to the Food Banks' mission of fighting hunger and poverty.<br><br>
			The theme was 'Summer Athletic Games'. Upon deliberation, our team has chosen a game that took the country by storm this summer. It redefines what the typical "athletic" activity is and simultaneously pushes everyone to be physically active. People are no longer only visiting the park for a baseball game or basketball game, they are visiting to hunt Pokemon. This reinvented game has turned into an athletic competition between players, keeping track of the distance each player has traveled on foot or bicycle. It can also be played in teams.  People encourage each other to go out and find Pokemon while running errands.  We bring to life one of the key characteristics of this phenomenon.</p>
			<p class="eventsIntro">Our structure won the People's Choice Award, and will be on display at the Livingston Mall until October 16th.</p>
			<div class="canstructionImages container">
				<div class="row">
					<div class="col-sm-12">
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253689/images/canstruction_2016/20161006_101940_u26rh8.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253689/images/canstruction_2016/20161006_101940_u26rh8.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253693/images/canstruction_2016/IMG_9496_xyk8il.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253693/images/canstruction_2016/IMG_9496_xyk8il.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253693/images/canstruction_2016/IMG_9497_w1r38b.jpg" data-lightbox="canstruction">	
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253693/images/canstruction_2016/IMG_9497_w1r38b.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253811/images/canstruction_2016/IMG_9500_txv4yy.jpg" data-lightbox="canstruction">	
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253811/images/canstruction_2016/IMG_9500_txv4yy.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253812/images/canstruction_2016/IMG_9501_oiemlo.jpg" data-lightbox="canstruction">	
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253812/images/canstruction_2016/IMG_9501_oiemlo.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253813/images/canstruction_2016/IMG_9502_gzaik6.jpg" data-lightbox="canstruction">	
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253813/images/canstruction_2016/IMG_9502_gzaik6.jpg">
						</a>
					</div>
					<div class="col-sm-12">
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253812/images/canstruction_2016/IMG_9503_jz7kqk.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253812/images/canstruction_2016/IMG_9503_jz7kqk.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253689/images/canstruction_2016/20161006_120316_xqas7o.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253689/images/canstruction_2016/20161006_120316_xqas7o.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253814/images/canstruction_2016/IMG_9507_ipxqar.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253814/images/canstruction_2016/IMG_9507_ipxqar.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253843/images/canstruction_2016/IMG_9512_he6qgp.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253843/images/canstruction_2016/IMG_9512_he6qgp.jpg">
						</a>
					</div>
					<div class="col-sm-12">
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253844/images/canstruction_2016/IMG_9513_v4aqai.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253844/images/canstruction_2016/IMG_9513_v4aqai.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253844/images/canstruction_2016/IMG_9514_fdajho.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253844/images/canstruction_2016/IMG_9514_fdajho.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253844/images/canstruction_2016/IMG_9515_ohwqfb.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253844/images/canstruction_2016/IMG_9515_ohwqfb.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253844/images/canstruction_2016/IMG_9516_zddoyf.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253844/images/canstruction_2016/IMG_9516_zddoyf.jpg">
						</a>
					</div>
					<div class="col-sm-12">
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_140054_c3y2hm.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_140054_c3y2hm.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253845/images/canstruction_2016/IMG_9517_qtq3hm.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253845/images/canstruction_2016/IMG_9517_qtq3hm.jpg">
						</a>
						<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_153146_bjczw3.jpg" data-lightbox="canstruction">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_153146_bjczw3.jpg">
						</a>
					</div>



				</div>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253845/images/canstruction_2016/IMG_9518_gx230y.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253845/images/canstruction_2016/IMG_9518_gx230y.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253846/images/canstruction_2016/IMG_9519_emal48.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253846/images/canstruction_2016/IMG_9519_emal48.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_154032_pgga5u.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_154032_pgga5u.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_154036_ve7ygy.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_154036_ve7ygy.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_155244_ck2ukd.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_155244_ck2ukd.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_155257_icmb14.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253690/images/canstruction_2016/20161006_155257_icmb14.jpg">
				</a>
				<a href="hhttps://res.cloudinary.com/hptiz0can/image/upload/v1636253691/images/canstruction_2016/20161006_160811_xa1rta.jpg" data-lightbox="canstruction">
					<img src="hhttps://res.cloudinary.com/hptiz0can/image/upload/v1636253691/images/canstruction_2016/20161006_160811_xa1rta.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253691/images/canstruction_2016/20161006_160818_leo9sc.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253691/images/canstruction_2016/20161006_160818_leo9sc.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253845/images/canstruction_2016/IMG_9520_fv65cy.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253845/images/canstruction_2016/IMG_9520_fv65cy.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253846/images/canstruction_2016/IMG_9524_wf5y6i.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253846/images/canstruction_2016/IMG_9524_wf5y6i.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253691/images/canstruction_2016/20161006_175707_k6fokz.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253691/images/canstruction_2016/20161006_175707_k6fokz.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253692/images/canstruction_2016/20161006_175713_pgtrtb.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253692/images/canstruction_2016/20161006_175713_pgtrtb.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253691/images/canstruction_2016/20161006_175416_yb1fbf.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253691/images/canstruction_2016/20161006_175416_yb1fbf.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253692/images/canstruction_2016/20161006_190145_jgyqd7.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253692/images/canstruction_2016/20161006_190145_jgyqd7.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253693/images/canstruction_2016/20161006_190201_sxd59d.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253693/images/canstruction_2016/20161006_190201_sxd59d.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253691/images/canstruction_2016/20161006_175723_btonki.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253691/images/canstruction_2016/20161006_175723_btonki.jpg">
				</a>
				<a href="https://res.cloudinary.com/hptiz0can/image/upload/v1636253692/images/canstruction_2016/20161006_182014_rg36ry.jpg" data-lightbox="canstruction">
					<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253692/images/canstruction_2016/20161006_182014_rg36ry.jpg">
				</a>
			</div>
			<p class="eventsIntro">Thank you to our team: Andrea Herrera, Deanne Tabeta, Francisco Sarmiento, Lincy Thomas, Melanie Thomas, Scott Sorensen, Sean Swaszek, Sonia Parada</p>
			<p class="eventsIntro">Special thank you to our sponsors: Mina Talai, Aine O'Dwyer, Mary Hanna, Melissa Silberstang, Jocelyn Brekken, Boyadjis Familiy, Amy Lopez, Vogel Family, Melanie Koundourou, Claudio Breda, Janelle Ortiz, Bigos Family, St. George Greek Orthodox Sunday School, Hadjiloucas Family, Aline Trindade, Jessica Conners, Benny Ngai</p>
			<div class="sponsors">
				<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253870/images/canstruction_2016/trader-joes_fqyao6.jpg">
				<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253866/images/canstruction_2016/MK-Logo_bmhzuf.jpg">
				<img class="raymondsLogo" src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253869/images/canstruction_2016/Raymond_s-logo_qjaphq.jpg">
				<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253868/images/canstruction_2016/Patrizias-of-Brooklyn_gvsy5o.jpg">
				<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253870/images/canstruction_2016/shoprite-color-logo_qiecuq.jpg">
				<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253866/images/canstruction_2016/NEW-ACME-LOGO-small_css2lm.png">
			</div>
			<h3 class="eventTitle">Who's Who May 26, 2016</h3>
			<p class="eventsIntro">Theodora Boyadjis is featured in World Wide Who's Who. You can read the article <a href="http://worldwidebrandingpr.com/press-release/theodora-boyadjis-recognized-for-excellence-in-architecture-planning">here</a>.</p>
			<div class="push"></div>
		</section>
		<section>
			<div class="footer">
				<img class="footer-logo" src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253451/images/logos/tbd_bfzbtj.png">
				<p class="copyright" style="margin-bottom:10px;">theodora boyadjis designs llc</p>
				<div class="social-media">
					<p class="copyright">
						<a href="https://www.instagram.com/tbdarch/" target="_blank">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/instagram_logo_de4rqj.png">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.facebook.com/theodorabdesigns/" target="_blank">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/facebook_logo_hdqqp2.png">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/linkedin_logo_iws6bz.png">
						</a>
					</p>
					<p class="copyright">
						<a href="http://www.houzz.com/pro/tboyadjis/__public" target="_blank">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/houzz_logo_itrokm.png" style="height:25px;">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.pinterest.com/theodorabdesign/" target="_blank">
							<img src="https://res.cloudinary.com/hptiz0can/image/upload/v1636253450/images/logos/Pinterest-badge-36px_l4ujom.png" style="height:25px;">
						</a>
					</p>
			</div>
			<div class="buildZoom-logo">
					<div class='bz-bdg'>
						<a target='_blank' title='BuildZoom.com' href='https://www.buildzoom.com/contractor/theodora-boyadjis-designs?ad_location=co_website'>
							<img alt='BuildZoom.com' width='230px' height='auto' border='0' src='https://badges.buildzoom.com/2021/t5d2.png' />
						</a>
						<a target='_blank' href='https://www.buildzoom.com/jersey-city-nj/architects?ad_location=co_website'>Architect in Jersey City</a>
						<img width='1px' height='1px' alt='' src='https://track.buildzoom.com/badge_load?track_id=EkNL4G&entity=Contractor&event_type=impression&ad_type=contractor_badge' />
					</div>
			</div>
				<p class="copyright footer-contact">&copy; TBD 2021 | info@theodorabdesigns.com | (908) 208-6085 | made with &#10084; by <a class="creator" href="https://github.com/japaranian">japaranian</p>
			</div>
		</section>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<script type="text/javascript" src="lightbox/js/lightbox.js"></script>
	</body>
</html>