<section class="content wrapper">
	<div class="description">
		<h1>theodora boyadjis designs</h1>
	</div>
		<h3 class="eventTitle">What to expect while working with an Architect</h3>
		<ul>
			<li>Initial meeting with Architect</li>
			<li><h3>Measure & Draft Existing Condition</h3><br>
				In order for your architect to provide accurate drawings, they need to measure and verify the existing space and create computer generated drawings to work off of.
			</li>
			<li>Schematic Design Process</li>
			<li>Preliminary Estimates</li>
			<li>Construction Documents (Permit Set)</li>
			<li>Bidding</li>
			<li>Permit</li>
			<li>Construction Administration</li>
		</ul>