<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Theodora Boyadjis</title>
		<meta name="description">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:image" content="https://dl.dropboxusercontent.com/s/9enghlssqy0w9eb/kitchen_EB_01.jpg"/>
		<meta property="og:url" content="http://www.theodorabdesigns.com/">
		<meta property="og:title" content="TBD | Theodora Boyadjis Designs">
		<meta property="fb:app_id" content="1763843543879671">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="lightbox/css/lightbox.css">
		<link rel="stylesheet" href="slick/slick/slick.css"/>
		<link rel="stylesheet" href="slick/slick/slick-theme.css"/>
		<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico"/>

	</head>
	<body>
		<nav class="nav justify-content-center flex-sm-row fixed-top">
			<a class="nav-link index" href="/">tbd</a>
			<a class="nav-link about" href="/about">about</a>
			<a class="nav-link contact" href="/contact">contact</a>
			<a class="nav-link events" href="/events">events</a>
			<a class="nav-link selectedFaq faq" href="/faq">faq</a>
		</nav>
		<section class="container">
			<div class="description">
<!-- 				<h1>theodora boyadjis designs</h1>
 -->			</div>
			<div class="workingWithArchitect">
				<h3>hiring an architect? here's what you can expect:</h3>
<!-- 				<div class="openAll">
					<a href="javascript:void(0)" onclick="openAll()">Open All</a>
				</div> -->
				<div class="faq-question gray1 col-sm-12">
					Initial meeting with Architect
				</div>
				<div class="faq-description col-sm-12">
					The Architect will come to the project site if possible to discuss your initial ideas and answer any questions you have about what is possible. You should also discuss how you use your current space, and what you like or don’t like about it.
				</div>
				<div class="faq-question gray2 col-sm-12">
					Measure
				</div>
				<div class="faq-description col-sm-12">
					 In order for your Architect to provide accurate drawings, they will visit the project site and measure the existing interior and exterior of the building that will be affected by the upcoming project.
				</div>
				<div class="faq-question gray1 col-sm-12">
					Existing Conditions
				</div>
				<div class="faq-description col-sm-12">
					Your Architect will then draw the existing conditions and utilize these base drawings throughout the project. Your Architect will also do a preliminary zoning analysis to determine if the property is conforming to the current zoning ordinance of the town/city. 
				</div>
				<div class="faq-question gray2 col-sm-12">
					Programming (non-residential projects)
				</div>
				<div class="faq-description col-sm-12">
					With your permission, your Architect will conduct a brief survey/ interview of the employees who will  be affected by the new space, to determine any problem areas within the existing space that should be addressed in the new space.
				</div>
				<div class="faq-question gray1 col-sm-12">
					Test Fits (non-residential projects)
				</div>
				<div class="faq-description col-sm-12">
					With the new information, your Architect will provide very preliminary floor plans showing how each area will be laid out.  Once you discuss the likes and don’t likes of each test fit, you will select a floor plan to enhance.
				</div>
				<div class="faq-question gray2 col-sm-12">
					Schematic Design
				</div>
				<div class="faq-description col-sm-12">
					Your Architect will provide a proposed floor plan and exterior elevations based on your expressed needs and wants.  You and your Architect will be in constant discussion throughout the whole design process to fine-tune the final product. Your Architect will guide you to the best solution.
				</div>
				<div class="faq-question gray1 col-sm-12">
					Preliminary Estimates
				</div>
				<div class="faq-description col-sm-12">
					Once you sign off on the final design, your architect will issue a schematic design drawings to contractors to get preliminary estimates. this helps ensure that your project does not go above your budget. once this phase is completed, you have the option of continuing with the scope as is, or scaling it back to reduce the overall construction budget.
				</div>
				<div class="faq-question gray2 col-sm-12">
					Construction Documents (also known as Permit Set)
				</div>
				<div class="faq-description col-sm-12">
					During this phase, the design is now detailed to become a reality.  These drawings are prepared to include details that the town/city requires to confirm the Project meets the current codes. They also include details for the contractor to build the Project. Building materials, lighting, interior and exterior finishes, trim profiles, etc. are selected. If required, Civil, Structural, and MEP engineers will be involved in the project during this phase. Your architect will coordinate all drawings coming from these consultants to produce a complete and coordinated set.
				</div>
				<div class="faq-question gray1 col-sm-12">
					Bidding
				</div>
				<div class="faq-description col-sm-12">
					Your Architect will issue the Construction Documents to multiple contractors to get final construction prices.  These are accurate prices and a starting point for negotiation for your final construction cost.  With guidance from your Architect, you will select a contractor based on their qualifications, bid price and your impression of them.
				</div>
				<div class="faq-question gray2 col-sm-12">
					Permit
				</div>
				<div class="faq-description col-sm-12">
					Once you select a contractor, they will submit for a permit. each town is different in the length of their review process. legally, they have 20 days to review the drawings but it is safe to assume it will be a 3-4 week process. (actual submission of drawings)
				</div>
				<div class="faq-question gray1 col-sm-12">
					Construction Administration
				</div>
				<div class="faq-description col-sm-12">
					Congratulations, you are now going to start construction! during this process, your architect will maintain contact with you and the contractor, to ensure details of the design are properly executed.
				</div>
			</div>
		</section>
		<section>
			<div class="footer">
				<img class="footer-logo" src="https://dl.dropboxusercontent.com/s/vhn99tcvogef2eu/tbd.png">
				<p class="copyright" style="margin-bottom:10px;">theodora boyadjis designs llc</p>
				<div class="social-media">
					<p class="copyright">
						<a href="https://www.instagram.com/tbdarch/" target="_blank">
							<img src="https://www.dl.dropboxusercontent.com/s/euebkfrfrwjk5q5/instagram_logo.png">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.facebook.com/theodorabdesigns/" target="_blank">
							<img src="https://www.dl.dropboxusercontent.com/s/r2mjlbyw3mh1ob1/facebook_logo.png">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="https://dl.dropboxusercontent.com/s/2gcjla8g1ln0i8b/linkedin_logo.png">
						</a>
					</p>
					<p class="copyright">
						<a href="http://www.houzz.com/pro/tboyadjis/__public" target="_blank">
							<img src="https://dl.dropboxusercontent.com/s/lpsn0dhpfwd7p7y/houzz_logo.png" style="height:25px;">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.pinterest.com/theodorabdesign/" target="_blank">
							<img src="https://dl.dropboxusercontent.com/s/2ntb1rvwpunjqu4/Pinterest-badge-36px.png" style="height:25px;">
						</a>
					</p>
			</div>
			<div class="buildZoom-logo">
					<div class='bz-bdg'>
						<a target='_blank' title='BuildZoom.com' href='https://www.buildzoom.com/contractor/theodora-boyadjis-designs?ad_location=co_website'>
							<img alt='BuildZoom.com' width='230px' height='auto' border='0' src='https://badges.buildzoom.com/2021/t5d2.png' />
						</a>
						<a target='_blank' href='https://www.buildzoom.com/jersey-city-nj/architects?ad_location=co_website'>Architect in Jersey City</a>
						<img width='1px' height='1px' alt='' src='https://track.buildzoom.com/badge_load?track_id=EkNL4G&entity=Contractor&event_type=impression&ad_type=contractor_badge' />
					</div>
			</div>
				<p class="copyright footer-contact">&copy; TBD 2021 | info@theodorabdesigns.com | (908) 208-6085 | made with &#10084; by <a class="creator" href="https://github.com/japaranian">japaranian</p>
			</div>
		</section>
	</body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
      $('.faq-description').hide();

      $( ".faq-question" ).click(function() {
        if($(this).hasClass("selected")){
          $(this).removeClass("selected");
        } else {
          $(this).addClass("selected");
        }
        $(this).next(".faq-description").slideToggle();
      });
      $(".faq-question").each(function() {
        if ($(this).html() == "") {
          $(this).css('display', 'none');
          $(".faq-description").css('display', 'none');
        };
      });
		});

		// function openAll() {
		// 	for(var i = 0; i < $(".faq-description").length; i++) {
		// 		if ($(".faq-description")[i].style.display == 'block') { //if accordion is showing
		// 			$(".faq-description")[i].style.display = 'none;' //hide it
		// 			$(".faq-question").removeClass("selected"); //remove class selected from everything
		// 			$(".openAll a").html("Open All"); //modify text
		// 		} else {
		// 			console.log('false');
		// 			$(".faq-description")[i].style.display = 'block'; // if accordion is not showing, show it
		// 			$(".faq-question").addClass("selected"); //apply selected class to everything
		// 			$(".openAll a").html("Close All"); //modify text
		// 		}
		// 	}
		// };
	</script>
</html>