<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TBD</title>
		<meta name="description">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>
		<nav class="fixed-nav-bar">
			<div id="menu" class="menu">
			</div>
		</nav>
		<section class="content">
			<div class="description">
				<h1>Theodora Boyadjis Design</h1>
				<h1>Coming Soon</h1>
				<h2 class="summary">Registered Architect</h2>
				<h2 class="summary">Leed Accredited Professional</h2>
			</div>			
		</section>
		<section>
			<div class="footer">
				<ul>
					<li class="logos">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="images/linkedin_logo.png">
						</a>
					</li>
				</ul>

				<p class="copyright">&copy; TBD 2015</p>
			</div>
		</section>
	</body>
</html>