<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Theodora Boyadjis</title>
		<meta name="description">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:image" content="https://dl.dropboxusercontent.com/s/9enghlssqy0w9eb/kitchen_EB_01.jpg"/>
		<meta property="og:url" content="http://www.theodorabdesigns.com/">
		<meta property="og:title" content="TBD | Theodora Boyadjis Designs">
		<meta property="fb:app_id" content="1763843543879671">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/bower_components/ekko-lightbox/dist/ekko-lightbox.css">
		<link rel="stylesheet" href="slick/slick/slick.css"/>
		<link rel="stylesheet" href="slick/slick/slick-theme.css"/>
		<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico"/>
	</head>
	<body>
		<nav class="nav justify-content-center flex-sm-row fixed-top">
			<a class="nav-link selectedIndex index" href="/">tbd</a>
			<a class="nav-link about" href="/about">about</a>
			<a class="nav-link contact" href="/contact">contact</a>
			<a class="nav-link events" href="/events">events</a>
			<a class="nav-link faq" href="/faq">faq</a>
		</nav>
		<section class="content wrapper">
			<div class="description">
<!-- 				<h1>theodora boyadjis designs</h1>
 -->				<p class="intro">We are passionate about architecture and aspire to create positive relationships with clients. We enjoy helping people rekindle their love for their homes or being able to create a comfortable work environment. Working closely with clients helps us appreciate the impact a project can make on their lives, no matter the size.</p>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">House Renovation</h2>
					<p><strong>Completed:</strong> 2020</p>
					<p><strong>Location:</strong> Tappan, NY</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/66hod2zrzxnvmmp/_A201338.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="tappan">
							<img src="https://www.dl.dropboxusercontent.com/s/66hod2zrzxnvmmp/_A201338.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/4u6s0te7qn2td8g/_A201334.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="tappan">
							<img src="https://www.dl.dropboxusercontent.com/s/4u6s0te7qn2td8g/_A201334.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/tg1kvd0hw59ruda/_A201317.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="tappan">
							<img src="https://www.dl.dropboxusercontent.com/s/tg1kvd0hw59ruda/_A201317.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/4kh9lvbt7up6zpq/_A201321.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="tappan">
							<img src="https://www.dl.dropboxusercontent.com/s/4kh9lvbt7up6zpq/_A201321.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/mvxwzrzkwdg5ewd/_A201324.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="tappan">
							<img src="https://www.dl.dropboxusercontent.com/s/mvxwzrzkwdg5ewd/_A201324.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ozy60i1c6uk3tma/_A201342.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="tappan">
							<img src="https://www.dl.dropboxusercontent.com/s/ozy60i1c6uk3tma/_A201342.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/j3app524j6o2qfa/_A201349.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="tappan">
							<img src="https://www.dl.dropboxusercontent.com/s/j3app524j6o2qfa/_A201349.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/4h39qgkfocuultu/_A201350.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="tappan">
							<img src="https://www.dl.dropboxusercontent.com/s/4h39qgkfocuultu/_A201350.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/xcdubregj48xzuz/_A201354.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="tappan">
							<img src="https://www.dl.dropboxusercontent.com/s/xcdubregj48xzuz/_A201354.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/hhccywdsv7pvtnm/_A201361.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="tappan">
							<img src="https://www.dl.dropboxusercontent.com/s/hhccywdsv7pvtnm/_A201361.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">House Renovation</h2>
					<p><strong>Completed:</strong> 2020</p>
					<p><strong>Location:</strong> Ridgewood, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/qs4z9q2loioryxy/DJI_0615.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/qs4z9q2loioryxy/DJI_0615.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/l3dtjoxpnnfm1qo/DJI_0612.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/l3dtjoxpnnfm1qo/DJI_0612.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/4up3k252zwbr04c/DJI_0613.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/4up3k252zwbr04c/DJI_0613.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/mxkhtxbd5grmjp0/DJI_0611.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/mxkhtxbd5grmjp0/DJI_0611.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/78iki4grl842g3b/DJI_0608.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/78iki4grl842g3b/DJI_0608.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/54seoblofgpbc51/DJI_0605-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/54seoblofgpbc51/DJI_0605-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/287mlc0ph0ltuav/DJI_0600.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/287mlc0ph0ltuav/DJI_0600.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/x1bqpuudpeewa2w/DJI_0601-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/x1bqpuudpeewa2w/DJI_0601-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/52figq2a0i3gnbe/DJI_0598.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/52figq2a0i3gnbe/DJI_0598.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/jm4kvmzk21tww1d/DJI_0595.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/jm4kvmzk21tww1d/DJI_0595.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/qqo5k5h0u54exkx/_A200807.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/qqo5k5h0u54exkx/_A200807.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ycewkwtioqg73yf/_A200811.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/ycewkwtioqg73yf/_A200811.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ei82p3kdddmy9do/_A200752.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/ei82p3kdddmy9do/_A200752.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/3iozt5qxlfts5tb/_A200748.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/3iozt5qxlfts5tb/_A200748.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/6jngdn9o77yu8jt/_A200743.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/6jngdn9o77yu8jt/_A200743.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/764999518rrr2cy/_A200791.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/764999518rrr2cy/_A200791.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/38o9gcnqsr9wfcx/_A200795.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/38o9gcnqsr9wfcx/_A200795.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/4k44c0jyb0ya7z2/_A200802.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/4k44c0jyb0ya7z2/_A200802.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/0ejscb0icrqill2/_A200781-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/0ejscb0icrqill2/_A200781-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/c5x2lvjkhnkkwii/_A200777.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/c5x2lvjkhnkkwii/_A200777.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/qur6y8ds6gtrrbh/_A200862.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/qur6y8ds6gtrrbh/_A200862.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/aspl6rsiwl2nxo8/_A200816.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/aspl6rsiwl2nxo8/_A200816.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/93dc235uuh2h1hj/_A200820-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/93dc235uuh2h1hj/_A200820-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/0m0cytz8uc0h99f/_A200828-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/0m0cytz8uc0h99f/_A200828-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/3flvbq896iza4nf/_A200833-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/3flvbq896iza4nf/_A200833-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/zm5jzsgalhl0glz/_A200840.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/zm5jzsgalhl0glz/_A200840.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ycbp0ox71v7bu1o/_A200869-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/ycbp0ox71v7bu1o/_A200869-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/9546ws283f25um3/_A200847.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/9546ws283f25um3/_A200847.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ab2pymrj0wnp8g1/_A200853.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/ab2pymrj0wnp8g1/_A200853.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/zrj99dtyklcw79k/_A200885.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/zrj99dtyklcw79k/_A200885.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/lf7z2i74r10d1np/_A200873.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/lf7z2i74r10d1np/_A200873.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ff6wid9jx6u4cdc/_A200760.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/ff6wid9jx6u4cdc/_A200760.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/90txb9ylaxtu5ey/_A200766.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/90txb9ylaxtu5ey/_A200766.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/0n8nr1im16n3f7u/_A200770.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/0n8nr1im16n3f7u/_A200770.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/9xhx4pp3n8y0b88/_A200880.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/9xhx4pp3n8y0b88/_A200880.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/pb1usm309qf4aht/_A200887.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="181WestEnd">
							<img src="https://www.dl.dropboxusercontent.com/s/pb1usm309qf4aht/_A200887.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">New Construction</h2>
					<p><strong>Completed:</strong> 2020</p>
					<p><strong>Location:</strong> Rutherford, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/mv8hople486mgvg/_A200664-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/mv8hople486mgvg/_A200664-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/i4yszslmc8e8n1b/_A200672-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/i4yszslmc8e8n1b/_A200672-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/u0vuef6bn43hwjw/_A200651-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/u0vuef6bn43hwjw/_A200651-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/i3r2xzro86me174/_A200654-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/i3r2xzro86me174/_A200654-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/d5pmmue74isl2c8/_A200648-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/d5pmmue74isl2c8/_A200648-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/mk0s6wqrr6ai23y/_A200606-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/mk0s6wqrr6ai23y/_A200606-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/pa7r8so1imq40dp/_A200598-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/pa7r8so1imq40dp/_A200598-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/uj0w5inf820s93e/_A200643.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/uj0w5inf820s93e/_A200643.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/dyk05d6xn07mjvp/_A200646.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/dyk05d6xn07mjvp/_A200646.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/fevucqxwzhy6vhu/_A200638.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/fevucqxwzhy6vhu/_A200638.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ie476okqltjptlg/_A200628.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/ie476okqltjptlg/_A200628.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/q50sfr7qogi5shi/_A200622-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/q50sfr7qogi5shi/_A200622-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/peisxh70k1d65lw/_A200610-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/peisxh70k1d65lw/_A200610-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ditfw6r95fzvt2d/_A200618-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/ditfw6r95fzvt2d/_A200618-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/e50e1qbl5gwlwkg/_A200659-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/e50e1qbl5gwlwkg/_A200659-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/dfr2k4uq9z2mumt/_A200660-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/dfr2k4uq9z2mumt/_A200660-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/t71z0l00jojcmeb/_A200686-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/t71z0l00jojcmeb/_A200686-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/569qyntwxf088co/_A200689-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/569qyntwxf088co/_A200689-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/5i43k6g1ivc7kgs/_A200701-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/5i43k6g1ivc7kgs/_A200701-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/5k2uawmzztgzyhq/_A200698-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/5k2uawmzztgzyhq/_A200698-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ohy2umrj7q9lo3p/_A200692-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/ohy2umrj7q9lo3p/_A200692-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/6cwppoag81eke4f/_A200711-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/6cwppoag81eke4f/_A200711-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/xai49bgwhkoqbul/_A200707-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/xai49bgwhkoqbul/_A200707-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/h584m6jl9coge89/_A200682-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/h584m6jl9coge89/_A200682-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/1u5p5m86aqr8tem/_A200677-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/1u5p5m86aqr8tem/_A200677-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/f1sivjad70i44hj/_A200679-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/f1sivjad70i44hj/_A200679-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/5ftp0j4wdo1i7tc/_A200719-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/5ftp0j4wdo1i7tc/_A200719-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/buokdwdz9twc421/_A200721-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/buokdwdz9twc421/_A200721-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/7axxgah63pnv0ja/_A200726-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/7axxgah63pnv0ja/_A200726-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ms5goxw39mifbnd/_A200732-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/ms5goxw39mifbnd/_A200732-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/6zm1yf6zucjnlpu/_A200736-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="barry">
							<img src="https://www.dl.dropboxusercontent.com/s/6zm1yf6zucjnlpu/_A200736-Edit.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">House Renovation</h2>
					<p><strong>Completed:</strong> 2019</p>
					<p><strong>Location:</strong> Rutherford, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/i92vj0txmbphxk7/_A169471.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/i92vj0txmbphxk7/_A169471.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/too6icxmyoy2htv/_A169475-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/too6icxmyoy2htv/_A169475-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/eq2l5z6unygmuwk/_A169463-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/eq2l5z6unygmuwk/_A169463-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/pbqsco3nm5cqly6/_A169460-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/pbqsco3nm5cqly6/_A169460-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/l7vvj94qny244fj/_A169449-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/l7vvj94qny244fj/_A169449-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/hc9kfftmoavg2a7/_A169456-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/hc9kfftmoavg2a7/_A169456-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/xaywfa8xd7b7gdi/_A169427-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/xaywfa8xd7b7gdi/_A169427-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ourct0fuisjw7o6/_A169443-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/ourct0fuisjw7o6/_A169443-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/tflwylh3ti0774t/_A169446.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/tflwylh3ti0774t/_A169446.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/it91cbx7krw8860/_A169432-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/it91cbx7krw8860/_A169432-Edit.jpg" alt="">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/gmeknmdgzzgucz4/_A169439-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="smith">
							<img src="https://dl.dropboxusercontent.com/s/gmeknmdgzzgucz4/_A169439-Edit.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">House Renovation</h2>
					<p><strong>Completed:</strong> 2019</p>
					<p><strong>Location:</strong> Crandon Lakes, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/9s99faapad55d6a/_A169421.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://www.dl.dropboxusercontent.com/s/9s99faapad55d6a/_A169421.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/k759j4eie7vx4u9/_A169425.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://www.dl.dropboxusercontent.com/s/k759j4eie7vx4u9/_A169425.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/zstv6xbhamv8v2v/DJI_0546.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://www.dl.dropboxusercontent.com/s/zstv6xbhamv8v2v/DJI_0546.jpg">
						</a>
					</div>
					<div>
						<a href="https://www.dl.dropboxusercontent.com/s/ivv902qeh2cbth6/DJI_0548-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://www.dl.dropboxusercontent.com/s/ivv902qeh2cbth6/DJI_0548-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/7kpdn23218heyp7/_A169367-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/7kpdn23218heyp7/_A169367-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/nws53uurftsmcb3/_A169311-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/nws53uurftsmcb3/_A169311-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/xyfjudupinwtq8x/_A169338-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/xyfjudupinwtq8x/_A169338-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/7qrhzek56u7lmke/_A169327-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/7qrhzek56u7lmke/_A169327-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/o5crlq3c3bmq6oz/_A169343-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/o5crlq3c3bmq6oz/_A169343-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/zsa4hcwwk71a913/_A169354-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/zsa4hcwwk71a913/_A169354-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/64ud4rfseq1u124/_A169362-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/64ud4rfseq1u124/_A169362-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/8hk4mtua3hog5q4/_A169381.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/8hk4mtua3hog5q4/_A169381.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/gdkxvesk7vh7k0d/_A169383.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/gdkxvesk7vh7k0d/_A169383.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/tmpfz3ttzz1mu39/_A169374-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/tmpfz3ttzz1mu39/_A169374-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/2876fq52frwxvkv/_A169396-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/2876fq52frwxvkv/_A169396-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/0i7kssa3mok5ftw/_A169295-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/0i7kssa3mok5ftw/_A169295-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/sfbkrzwfonocbkc/_A169306.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/sfbkrzwfonocbkc/_A169306.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/k3oshsqwgszaqld/_A169307.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/k3oshsqwgszaqld/_A169307.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/3v0uiuns4sp7oh3/_A169286-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/3v0uiuns4sp7oh3/_A169286-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/d7xcdse5ncqibht/_A169277-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/d7xcdse5ncqibht/_A169277-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/i0imajhvhcopc4l/_A169281-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="hw-residence">
							<img src="https://dl.dropboxusercontent.com/s/i0imajhvhcopc4l/_A169281-Edit.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">New Construction</h2>
					<p><strong>Completed:</strong> 2019</p>
					<p><strong>Location:</strong> Rutherford, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/adhxxtu9rnicnl4/_A169478-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/adhxxtu9rnicnl4/_A169478-Edit.jpg" alt="">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/cp9ds4yi3nuyivv/_A169484-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/cp9ds4yi3nuyivv/_A169484-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/28gq57yk897aoe4/_A169493-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/28gq57yk897aoe4/_A169493-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/94tn2x7kwfug9ip/_A169512-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/94tn2x7kwfug9ip/_A169512-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/jwjt4u5qg4tx8vs/_A169488-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/jwjt4u5qg4tx8vs/_A169488-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/tkw1euc41ugb91n/_A169504-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/tkw1euc41ugb91n/_A169504-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/zqhb2s65p25g2w4/_A169517-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/zqhb2s65p25g2w4/_A169517-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/12j6s1zz58svd4a/_A169523-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/12j6s1zz58svd4a/_A169523-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/eji6t05yrpveysg/_A169595.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/eji6t05yrpveysg/_A169595.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/04d91uzw9x3a59u/_A169605-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/04d91uzw9x3a59u/_A169605-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/zdxs2usjvf0xike/_A169530-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/zdxs2usjvf0xike/_A169530-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/dv7nagflcbkfdk3/_A169575-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/dv7nagflcbkfdk3/_A169575-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/drt0vunanrnoxwk/_A169579-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/drt0vunanrnoxwk/_A169579-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/jixt565l7ogz51w/_A169581-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/jixt565l7ogz51w/_A169581-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/zhcn45ad5ntglhw/_A169570-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/zhcn45ad5ntglhw/_A169570-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/c3r9tourief5ph2/_A169535-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/c3r9tourief5ph2/_A169535-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/bk545wqiq4a8rzf/_A169542-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/bk545wqiq4a8rzf/_A169542-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/49r8cx0et1nqdps/_A169563-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/49r8cx0et1nqdps/_A169563-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/lrrh256hs5r86fu/_A169549-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/lrrh256hs5r86fu/_A169549-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/3i1s7cy3epiw2yx/_A169560-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/3i1s7cy3epiw2yx/_A169560-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/qbvafx1t25jvfc6/_A169567.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/qbvafx1t25jvfc6/_A169567.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/yj8jdwkhxqutwqo/_A169585-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/yj8jdwkhxqutwqo/_A169585-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/w7ze7l603tpyy7n/_A169591-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/w7ze7l603tpyy7n/_A169591-Edit.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/lu2ss31qdd9k1ym/_A169588-Edit.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="carmita-residence">
							<img src="https://dl.dropboxusercontent.com/s/lu2ss31qdd9k1ym/_A169588-Edit.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Restaurant Renovation</h2>
					<p><strong>Completed:</strong> 2018</p>
					<p><strong>Location:</strong><br>Ava's Kitchen & Bar</p>
					<p>Kenilworth, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/40noqqyfl3twhk5/ava_01.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/40noqqyfl3twhk5/ava_01.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/g3i8l6lcvtvphzy/ava_02.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/g3i8l6lcvtvphzy/ava_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/1bswubhxd7nalv5/ava_33.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/1bswubhxd7nalv5/ava_33.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/k5pz0ry78n8kq72/ava_31.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/k5pz0ry78n8kq72/ava_31.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/kt0h139p0e7xsym/ava_30.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/kt0h139p0e7xsym/ava_30.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/d6nw1o8pab65uld/ava_16.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/d6nw1o8pab65uld/ava_16.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ltyc6pm0r3x9gki/ava_25.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/ltyc6pm0r3x9gki/ava_25.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/oq4heuppdgeqq4c/ava_24.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/oq4heuppdgeqq4c/ava_24.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/pnjp2qagtdpsbsx/ava_23.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/pnjp2qagtdpsbsx/ava_23.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/e4c2okv72za061m/ava_22.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/e4c2okv72za061m/ava_22.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/gx389dwb3q3kbxg/ava_11.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/gx389dwb3q3kbxg/ava_11.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/8p8sg8qpche2127/ava_05.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/8p8sg8qpche2127/ava_05.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/uygkyi9afva0ygb/ava_04.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="ava">
							<img src="https://dl.dropboxusercontent.com/s/uygkyi9afva0ygb/ava_04.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">New Construction</h2>
					<p><strong>Completed:</strong> 2018</p>
					<p><strong>Location:</strong> Rutherford, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/30z638ilk34ispe/rutherford_house_01.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/30z638ilk34ispe/rutherford_house_01.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/f1975d4aqop2ny3/rutherford_house_02.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/f1975d4aqop2ny3/rutherford_house_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/cnuhpoin3656s4k/rutherford_house_03.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/cnuhpoin3656s4k/rutherford_house_03.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/87acbo4agv5gdie/rutherford_house_04.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/87acbo4agv5gdie/rutherford_house_04.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ghkjkadfd7ns8lx/rutherford_house_05.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/ghkjkadfd7ns8lx/rutherford_house_05.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/1sp22drajvzdlrk/rutherford_house_06.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/1sp22drajvzdlrk/rutherford_house_06.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/rfzel8vg503pj2q/rutherford_house_07.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/rfzel8vg503pj2q/rutherford_house_07.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/w0jb4t1x178m5o4/rutherford_house_08.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/w0jb4t1x178m5o4/rutherford_house_08.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/l61ad8x2kq88znn/rutherford_house_09.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/l61ad8x2kq88znn/rutherford_house_09.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/zq23u70a033l5f4/rutherford_house_10.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/zq23u70a033l5f4/rutherford_house_10.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/3wsak9t7xwjyevy/rutherford_house_11.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>." data-toggle="lightbox" data-gallery="rutherford-house">
							<img src="https://dl.dropboxusercontent.com/s/3wsak9t7xwjyevy/rutherford_house_11.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">House Renovation</h2>
					<p><strong>Completed:</strong> 2018</p>
					<p><strong>Location:</strong> Haworth, NJ</p>
				</div>
				<div class="projectSlider">
					<!-- <div>
						<a href="https://dl.dropboxusercontent.com/s/bld45dzkphaz00i/trinidad_01.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'> Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/bld45dzkphaz00i/trinidad_01.jpg">
						</a>
					</div> -->
					<div>
						<a href="https://dl.dropboxusercontent.com/s/zyo5l4rhssy7pad/trinidad_03.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/zyo5l4rhssy7pad/trinidad_03.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/51wmbi2ju9w7df3/trinidad_02.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/51wmbi2ju9w7df3/trinidad_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/slsf4j3g5r54mba/trinidad_04.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/slsf4j3g5r54mba/trinidad_04.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/657dzrxq44wrpbg/trinidad_05.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/657dzrxq44wrpbg/trinidad_05.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ut9syx58gdekr72/trinidad_06.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/ut9syx58gdekr72/trinidad_06.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/oflakiz8j6uvu0w/trinidad_07.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/oflakiz8j6uvu0w/trinidad_07.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/nmlb7u502cn5i5r/trinidad_08.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/nmlb7u502cn5i5r/trinidad_08.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/aki3t9h2zssafa6/trinidad_09.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/aki3t9h2zssafa6/trinidad_09.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/9gj8prcqvhra2n8/trinidad_10.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/9gj8prcqvhra2n8/trinidad_10.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/j0ypq3gny6s1mp1/trinidad_11.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/j0ypq3gny6s1mp1/trinidad_11.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/qr9zbwfkte27xln/trinidad_12.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/qr9zbwfkte27xln/trinidad_12.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/8p7lfuipirhtr83/trinidad_13.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/8p7lfuipirhtr83/trinidad_13.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/yrkfmni3y3s8wik/trinidad_14.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/yrkfmni3y3s8wik/trinidad_14.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/zq8sf9ivarahe91/trinidad_16.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/zq8sf9ivarahe91/trinidad_16.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/jup8n5xo86l86qg/trinidad_17.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/jup8n5xo86l86qg/trinidad_17.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ql4vnppj2vs0w6b/trinidad_19.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/ql4vnppj2vs0w6b/trinidad_19.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/2yvchbfccws5hwr/trinidad_20.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/2yvchbfccws5hwr/trinidad_20.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/90k3siiuw38daov/trinidad_21.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/90k3siiuw38daov/trinidad_21.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/jq2a3egy5ozvi1q/trinidad_22.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="trinidad">
							<img src="https://dl.dropboxusercontent.com/s/jq2a3egy5ozvi1q/trinidad_22.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">House Renovation</h2>
					<p><strong>Completed:</strong> 2017</p>
					<p><strong>Location:</strong> Rutherford, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/kmop5q7vtcwsxbt/1_vreeland.jpg" data-footer="Photo by Alexander Boardman." data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/kmop5q7vtcwsxbt/1_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/i3kx7v1tb888idy/2_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/i3kx7v1tb888idy/2_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/sd5jxefh7xb1sn1/3_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/sd5jxefh7xb1sn1/3_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/93lhg0t3fbp4u4a/4_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/93lhg0t3fbp4u4a/4_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/g4xcdsm6b0n7gzz/5_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/g4xcdsm6b0n7gzz/5_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/9coufyq0c6dhqd4/6_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/9coufyq0c6dhqd4/6_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/3jzyxr8uuaj90rv/7_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/3jzyxr8uuaj90rv/7_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ht03iok1hkpkbwj/8_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/ht03iok1hkpkbwj/8_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/5ll7t6ov6qsxppl/9_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/5ll7t6ov6qsxppl/9_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/dn6n6on10uxn1mz/10_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/dn6n6on10uxn1mz/10_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/32k84tzj05jnw12/11_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/32k84tzj05jnw12/11_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/zne3pake6n0scrc/12_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/zne3pake6n0scrc/12_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/j4dgqvu4p4b0aa5/13_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/j4dgqvu4p4b0aa5/13_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/mfv5bvyccwqfd5s/14_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/mfv5bvyccwqfd5s/14_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/7dqlucvahv59tv2/15_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/7dqlucvahv59tv2/15_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/h0ebv84udvxn3tc/16_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/h0ebv84udvxn3tc/16_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/jz2uoc42vedg50d/17_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/jz2uoc42vedg50d/17_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/wioji91b1kgfr7v/18_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/wioji91b1kgfr7v/18_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/jfhy8wertyspmgv/19_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/jfhy8wertyspmgv/19_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ynqdht2g40o7uv0/20_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/ynqdht2g40o7uv0/20_vreeland.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/8h5jb358i1hi989/21_vreeland.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="vreeland">
							<img src="https://dl.dropboxusercontent.com/s/8h5jb358i1hi989/21_vreeland.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Kitchen Renovation</h2>
					<p><strong>Completed:</strong> 2014</p>
					<p><strong>Location:</strong> Edison, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/kgxgw651bsem1s1/kitchen_AL_01.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="kitchen02">
							<img src="https://dl.dropboxusercontent.com/s/kgxgw651bsem1s1/kitchen_AL_01.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ugt5lcpzd97bt97/kitchen_AL_02.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="kitchen02">
							<img src="https://dl.dropboxusercontent.com/s/ugt5lcpzd97bt97/kitchen_AL_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/gbbkgwsp12exvdc/kitchen_AL_03.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="kitchen02">
							<img src="https://dl.dropboxusercontent.com/s/gbbkgwsp12exvdc/kitchen_AL_03.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/oleslqfi6a60xu3/kitchen_AL_04.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="kitchen02">
							<img src="https://dl.dropboxusercontent.com/s/oleslqfi6a60xu3/kitchen_AL_04.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Kitchen Renovation</h2>
					<p><strong>Completed:</strong> 2010</p>
					<p><strong>Location:</strong> East Brunswick, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/9enghlssqy0w9eb/kitchen_EB_01.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="kitchen01">
							<img src="https://dl.dropboxusercontent.com/s/9enghlssqy0w9eb/kitchen_EB_01.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/kh4fptf2t7a5exv/kitchen_EB_02.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="kitchen01">
							<img src="https://dl.dropboxusercontent.com/s/kh4fptf2t7a5exv/kitchen_EB_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/jb0uzwzsuggezd5/kitchen_EB_03.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="kitchen01">
							<img src="https://dl.dropboxusercontent.com/s/jb0uzwzsuggezd5/kitchen_EB_03.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/r0gwk6ydh6scc2y/kitchen_EB_04.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="kitchen01">
							<img src="https://dl.dropboxusercontent.com/s/r0gwk6ydh6scc2y/kitchen_EB_04.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/mn5muqabuzthcpk/kitchen_EB_05.jpg" data-footer="Photo by <a href='http://www.alexanderboardman.com/' target='_blank'>Alexander Boardman</a>" data-toggle="lightbox" data-gallery="kitchen01">
							<img src="https://dl.dropboxusercontent.com/s/mn5muqabuzthcpk/kitchen_EB_05.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="push"></div>
		<section>
			<div class="footer">
				<img class="footer-logo" src="https://dl.dropboxusercontent.com/s/vhn99tcvogef2eu/tbd.png">
				<p class="copyright" style="margin-bottom:10px;">theodora boyadjis designs llc</p>
				<div class="social-media">
					<p class="copyright">
						<a href="https://www.instagram.com/tbdarch/" target="_blank">
							<img src="https://www.dl.dropboxusercontent.com/s/euebkfrfrwjk5q5/instagram_logo.png">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.facebook.com/theodorabdesigns/" target="_blank">
							<img src="https://www.dl.dropboxusercontent.com/s/r2mjlbyw3mh1ob1/facebook_logo.png">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="https://dl.dropboxusercontent.com/s/2gcjla8g1ln0i8b/linkedin_logo.png">
						</a>
					</p>
					<p class="copyright">
						<a href="http://www.houzz.com/pro/tboyadjis/__public" target="_blank">
							<img src="https://dl.dropboxusercontent.com/s/lpsn0dhpfwd7p7y/houzz_logo.png" style="height:25px;">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.pinterest.com/theodorabdesign/" target="_blank">
							<img src="https://dl.dropboxusercontent.com/s/2ntb1rvwpunjqu4/Pinterest-badge-36px.png" style="height:25px;">
						</a>
					</p>
			</div>
				<p class="copyright footer-contact">&copy; TBD 2021 | info@theodorabdesigns.com | (908) 208-6085 | made with &#10084; by <a class="creator" href="https://github.com/japaranian">japaranian</p>
			</div>
		</section>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<script type="text/javascript" src="slick/slick/slick.min.js"></script>
		<script type="text/javascript" src="/bower_components/ekko-lightbox/dist/ekko-lightbox.js"></script>
		<script type="text/javascript" src="/javascripts/scripts.js"></script>
		<script type="text/javascript">
			$(document).on('click', '[data-toggle="lightbox"]', function(event) {
			  event.preventDefault();
		    $(this).ekkoLightbox();
			});

			$(document).ready(function(){
			  $('.projectSlider').slick({
			    infinite: false,
			    variableWidth: true,
			    mobileFirst: true,
			    slidesToShow: 1,
				  slidesToScroll: 1
			  });
			});
		</script>

	</body>
</html>