<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TBD</title>
		<meta name="description">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="slick/slick/slick.css"/>
		<link rel="stylesheet" href="slick/slick/slick-theme.css"/>
		<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="lightbox/lightbox.js"></script>
	</head>
	<body>
		<nav class="fixed-nav-bar">
			<div id="menu" class="menu">
				<a class="sitename" href="fixed-navigation-bar.html">TBD</a>
				<!-- Example responsive navigation menu  -->
				<a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
				<ul class="menu-items">
					<li><a href="">Home</a></li>
					<li><a href="">About</a></li>
				</ul>
			</div>
		</nav>
		<section class="content">
			<div class="description">
				<h1>theodora boyadjis design</h1>
				<h2 class="summary">Registered Architect</h2>
				<h2 class="summary">Leed Accredited Professional</h2>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Pahos, Cyprus</h2>
					<p>New construction Residence completed 2015. Mediterranean style vacation home with four bedrooms, and four bathrooms. It features a 3 car garage and an outdoor kitchen.</p>
				</div>
				<div class="projectSlider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
				  <div>
				  	<img src="images/Pahos_Exterior2.jpg">
				  </div>
				  <div>
				  	<img src="images/Pahos_Exterior3.jpg">
				  </div>
				  <div>
				  	<img src="images/Pahos_Interior.jpg">
				  </div>
				  <div>
				  	<img src="images/Pahos_Exterior.jpg">
				  </div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Residence I</h2>
					<p>Completed in 2011 by Rosen Group Architecture | Design. Family room and breakfast area addition. Kitchen, bathroom and master suite renovations.</p>
				</div>
				<div class="projectSlider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
				  <div>
				  	<img src="images/Sorrentino18.jpg">
				  </div>
				  <div>
				  	<img src="images/Sorrentino17.jpg">
				  </div>
				  <div>
				  	<img src="images/Sorrentino4.jpg">
				  </div>
				  <div>
				  	<img src="images/Sorrentino1.jpg">
				  </div>
				  <div>
				  	<img src="images/Sorrentino2.jpg">
				  </div>
				  <div>
				  	<img src="images/Sorrentino4.jpg">
				  </div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Residence II</h2>
					<p>Completed in 2008 by Rosen Group Architecture | Design. New Construction Residence featuring lead windows, tall coffered ceilings, and painted wood paneling throughout.</p>
				</div>
				<div class="projectSlider" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
				  <div>
				  	<img src="images/Lima2.jpg">
				  </div>
				  <div>
				  	<img src="images/Lima3.jpg">
				  </div>
				  <div>
				  	<img src="images/Lima9.jpg">
				  </div>
				  <div>
				  	<img src="images/Lima5.jpg">
				  </div>
				  <div>
				  	<img src="images/Lima6.jpg">
				  </div>
				  <div>
				  	<img src="images/Lima11.jpg">
				  </div>
				  <div>
				  	<img src="images/Lima4.jpg">
				  </div>
				  <div>
				  	<img src="images/Lima12.jpg">
				  </div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Kitchen Renovation I</h2>
					<p>Completed in 2014, a 1980’s semi-attached house. Updated a 1980’s kitchen with modern shaker style cabinetry, quartz countertops, and stainless steel appliances.</p>
				</div>
				<div class="projectSlider" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
					<div>
						<img src="images/kitchen_existing.jpg">
					</div>
					<div>
						<img src="images/kitchen_new.jpg">
					</div>
					<div>
						<img src="images/kitchen_new2.jpg">
					</div>
					<div>
						<img src="images/kitchen_new3.jpg">
					</div>
					<div>
						<img src="images/kitchen_new4.jpg">
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Kitchen Renovation II</h2>
					<p>Completed 2010, the entire first floor was opened up with the removal of a wall between the kitchen and dining room. The new kitchen features cherry cabinets, granite countertops, and stainless steel appliances. The ceilings were maximized by creating a tray ceiling above the new island.</p>
				</div>
				<div class="projectSlider" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
					<div>
						<img src="images/kitchen_1.jpg">
					</div>
					<div>
						<img src="images/kitchen_2.jpg">
					</div>
					<div>
						<img src="images/kitchen_3.jpg">
					</div>
					<div>
						<img src="images/kitchen_4.jpg">
					</div>
					<div>
						<img src="images/kitchen_5.jpg">
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Lobby Renovation</h2>
					<p>Update existing lobby with a modern style.  The walls are covered with a large scale European tile around the existing planter and elevator areas.  The ceiling was replaced with 2 x 6 tile and illuminated with linear lighting running from the entrance to the elevators.  The different levels in the ceiling create multiple zones within the space.</p>
				</div>
				<div class="projectSlider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
					<div>
						<img src="images/lobby_reno1.jpg">
					</div>
					<div>
						<img src="images/lobby_reno2.jpg">
					</div>
					<div>
						<img src="images/lobby_reno3.jpg">
					</div>
					<div>
						<img src="images/lobby_reno4.jpg">
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Residence III</h2>
					<p>Whole house renovation and family room addition. All exterior siding, roofing, and stone base have been restored/ replaced with original materials. The front has been restored with column details original to the house. The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.</p>
				</div>
				<div class="projectSlider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
					<div>
						<img src="images/residence_1.jpg">
					</div>
					<div>
						<img src="images/residence_2.jpg">
					</div>
					<div>
						<img src="images/residence_3.jpg">
					</div>
					<div>
						<img src="images/residence_4.jpg">
					</div>
					<div>
						<img src="images/residence_5.jpg">
					</div>
					<div>
						<img src="images/residence_6.jpg">
					</div>
					<div>
						<img src="images/residence_7.jpg">
					</div>
					<div>
						<img src="images/residence_8.jpg">
					</div>
					<div>
						<img src="images/residence_9.jpg">
					</div>
					<div>
						<img src="images/residence_10.jpg">
					</div>
					<div>
						<img src="images/residence_11.jpg">
					</div>
				</div>
			</div>
		<section>
			<div class="footer">
				<ul>
					<li class="logos">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="images/linkedin_logo.png">
						</a>
					</li>
				</ul>
				<p class="copyright">&copy; TBD 2015</p>
			</div>
		</section>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="slick/slick/slick.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			  $('.projectSlider').slick({
			    infinite: true,
			    centerMode: true,
			    variableWidth: true,
			    responsive: [
				    {
				      breakpoint: 1024,
				      settings: {
				        slidesToShow: 3,
				        slidesToScroll: 3,
				        infinite: true,
				        dots: true
				      }
				    },
				    {
				      breakpoint: 600,
				      settings: {
				        slidesToShow: 2,
				        slidesToScroll: 2
				      }
				    },
				    {
				      breakpoint: 480,
				      settings: {
				        slidesToShow: 1,
				        slidesToScroll: 1
				      }
				    }
				    // You can unslick at a given breakpoint now by adding:
				    // settings: "unslick"
				    // instead of a settings object
				  ]
			  });
			});
		</script>
	</body>
</html>