<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Theodora Boyadjis</title>
		<meta name="description">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:image" content="https://dl.dropboxusercontent.com/s/9enghlssqy0w9eb/kitchen_EB_01.jpg"/>
		<meta property="og:url" content="http://www.theodorabdesigns.com/">
		<meta property="og:title" content="TBD | Theodora Boyadjis Designs">
		<meta property="fb:app_id" content="1763843543879671">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="lightbox/css/lightbox.css">
		<link rel="stylesheet" href="slick/slick/slick.css"/>
		<link rel="stylesheet" href="slick/slick/slick-theme.css"/>
		<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico"/>
	</head>
	<body>
		<nav class="nav justify-content-center flex-sm-row fixed-top">
			<a class="nav-link selectedIndex index" href="/">tbd</a>
			<a class="nav-link about" href="/about">about</a>
			<a class="nav-link contact" href="/contact">contact</a>
			<a class="nav-link events" href="/events">events</a>
			<a class="nav-link faq" href="/faq">faq</a>
		</nav>
		<section class="content wrapper">
			<div class="description">
				<h1>theodora boyadjis designs</h1>
				<p class="intro">We are passionate about architecture and aspire to create positive relationships with clients. We enjoy helping people rekindle their love for their homes or being able to create a comfortable work environment. Working closely with clients helps us appreciate the impact a project can make on their lives, no matter the size.</p>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">New Construction</h2>
					<p><strong>Completed:</strong> 2015</p>
					<p><strong>Location:</strong> Pahos, Cyprus</p>
				</div>
				<div class="projectSlider">
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/6famhaa02ygyarn/Pahos_Exterior2.jpg" data-lightbox="pahos" data-title="Mediterranean style vacation home with four bedrooms, and four bathrooms.  It features a 3 car garage and an outdoor kitchen.">
					  	<img src="https://dl.dropboxusercontent.com/s/6famhaa02ygyarn/Pahos_Exterior2.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/xpkhlu6q7ljcp1f/Pahos_Exterior3.jpg" data-lightbox="pahos" data-title="Mediterranean style vacation home with four bedrooms, and four bathrooms.  It features a 3 car garage and an outdoor kitchen.">
					  	<img src="https://dl.dropboxusercontent.com/s/xpkhlu6q7ljcp1f/Pahos_Exterior3.jpg">
				  	</a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/o0mun98f8655sn3/Pahos_Interior.jpg" data-lightbox="pahos" data-title="Mediterranean style vacation home with four bedrooms, and four bathrooms.  It features a 3 car garage and an outdoor kitchen.">
					  	<img src="https://dl.dropboxusercontent.com/s/o0mun98f8655sn3/Pahos_Interior.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/lsh9n4ba4s3fsq5/Pahos_Exterior.jpg" data-lightbox="pahos" data-title="Mediterranean style vacation home with four bedrooms, and four bathrooms.  It features a 3 car garage and an outdoor kitchen.">
					  	<img src="https://dl.dropboxusercontent.com/s/lsh9n4ba4s3fsq5/Pahos_Exterior.jpg">
					  </a>
				  </div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Kitchen Renovation</h2>
					<p><strong>Completed:</strong> 2010</p>
					<p><strong>Location:</strong> East Brunswick, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/9enghlssqy0w9eb/kitchen_EB_01.jpg" data-lightbox="kitchen1" data-title="The entire first floor was opened up with the removal of a wall between the kitchen and dining room. The new kitchen features cherry cabinets, granite countertops, and stainless steel appliances. The ceilings were maximized by creating a tray ceiling above the new island. Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman">
							<img src="https://dl.dropboxusercontent.com/s/9enghlssqy0w9eb/kitchen_EB_01.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/kh4fptf2t7a5exv/kitchen_EB_02.jpg" data-lightbox="kitchen1" data-title="The entire first floor was opened up with the removal of a wall between the kitchen and dining room. The new kitchen features cherry cabinets, granite countertops, and stainless steel appliances. The ceilings were maximized by creating a tray ceiling above the new island. Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman" >
							<img src="https://dl.dropboxusercontent.com/s/kh4fptf2t7a5exv/kitchen_EB_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/jb0uzwzsuggezd5/kitchen_EB_03.jpg" data-lightbox="kitchen1" data-title="The entire first floor was opened up with the removal of a wall between the kitchen and dining room. The new kitchen features cherry cabinets, granite countertops, and stainless steel appliances. The ceilings were maximized by creating a tray ceiling above the new island. Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman">
							<img src="https://dl.dropboxusercontent.com/s/jb0uzwzsuggezd5/kitchen_EB_03.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/r0gwk6ydh6scc2y/kitchen_EB_04.jpg" data-lightbox="kitchen1" data-title="The entire first floor was opened up with the removal of a wall between the kitchen and dining room. The new kitchen features cherry cabinets, granite countertops, and stainless steel appliances. The ceilings were maximized by creating a tray ceiling above the new island. Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman">
							<img src="https://dl.dropboxusercontent.com/s/r0gwk6ydh6scc2y/kitchen_EB_04.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/mn5muqabuzthcpk/kitchen_EB_05.jpg" data-lightbox="kitchen1" data-title="The entire first floor was opened up with the removal of a wall between the kitchen and dining room. The new kitchen features cherry cabinets, granite countertops, and stainless steel appliances. The ceilings were maximized by creating a tray ceiling above the new island. Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman">
							<img src="https://dl.dropboxusercontent.com/s/mn5muqabuzthcpk/kitchen_EB_05.jpg">
						</a>
					</div>
				</div>
			</div>
						<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Kitchen Renovation</h2>
					<p><strong>Completed:</strong> 2014</p>
					<p><strong>Location:</strong> Edison, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/kgxgw651bsem1s1/kitchen_AL_01.jpg" data-lightbox="kitchen" data-title="Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman</a>">
							<img src="https://dl.dropboxusercontent.com/s/kgxgw651bsem1s1/kitchen_AL_01.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ugt5lcpzd97bt97/kitchen_AL_02.jpg" data-lightbox="kitchen" data-title="Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman</a>">
							<img src="https://dl.dropboxusercontent.com/s/ugt5lcpzd97bt97/kitchen_AL_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/gbbkgwsp12exvdc/kitchen_AL_03.jpg" data-lightbox="kitchen" data-title="Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman</a>">
							<img src="https://dl.dropboxusercontent.com/s/gbbkgwsp12exvdc/kitchen_AL_03.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/oleslqfi6a60xu3/kitchen_AL_04.jpg" data-lightbox="kitchen" data-title="Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman</a>">
							<img src="https://dl.dropboxusercontent.com/s/oleslqfi6a60xu3/kitchen_AL_04.jpg">
						</a>
					</div>
				</div>
			</div>
						<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Kitchen Renovation</h2>
					<p><strong>Completed:</strong> 2014</p>
					<p></strong>Location:</strong> Marlton, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/8o4zmb9f0hegr4o/kitchen_existing.jpg" data-lightbox="kitchen" data-title="Updated a 1980’s kitchen with modern shaker style cabinetry, quartz countertops, and stainless steel appliances.">
							<img src="https://dl.dropboxusercontent.com/s/8o4zmb9f0hegr4o/kitchen_existing.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/bkpgdpcrif9w7dg/kitchen_new.jpg" data-lightbox="kitchen" data-title="Updated a 1980’s kitchen with modern shaker style cabinetry, quartz countertops, and stainless steel appliances.">
							<img src="https://dl.dropboxusercontent.com/s/bkpgdpcrif9w7dg/kitchen_new.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/slazfcucxkk6jxq/kitchen_new2.jpg" data-lightbox="kitchen" data-title="Updated a 1980’s kitchen with modern shaker style cabinetry, quartz countertops, and stainless steel appliances.">
							<img src="https://dl.dropboxusercontent.com/s/slazfcucxkk6jxq/kitchen_new2.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/pg2y13bmypor1z6/kitchen_new3.jpg" data-lightbox="kitchen" data-title="Updated a 1980’s kitchen with modern shaker style cabinetry, quartz countertops, and stainless steel appliances.">
							<img src="https://dl.dropboxusercontent.com/s/pg2y13bmypor1z6/kitchen_new3.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/p4lrj4n3tqnk6ea/kitchen_new4.jpg" data-lightbox="kitchen" data-title="Updated a 1980’s kitchen with modern shaker style cabinetry, quartz countertops, and stainless steel appliances.">
							<img src="https://dl.dropboxusercontent.com/s/p4lrj4n3tqnk6ea/kitchen_new4.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Bathroom Renovation</h2>
					<p><strong>Completed:</strong> 2015</p>
					<p><strong>Location:</strong> Fair Lawn, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/p4lrj4n3tqnk6ea/kitchen_new4.jpg" data-lightbox="bathroom" data-title="Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman</a>">
							<img src="https://dl.dropboxusercontent.com/s/p4lrj4n3tqnk6ea/kitchen_new4.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/sp41enqd2xto9b0/bathroom_mb_02.jpg" data-lightbox="bathroom" data-title="Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman</a>">
							<img src="https://dl.dropboxusercontent.com/s/sp41enqd2xto9b0/bathroom_mb_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/cfm2m03mlhgydzw/bathroom_mb_03.jpg" data-lightbox="bathroom" data-title="Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman</a>">
							<img src="https://dl.dropboxusercontent.com/s/cfm2m03mlhgydzw/bathroom_mb_03.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/yf96asdk1xfk17z/bathroom_mb_04.jpg" data-lightbox="bathroom" data-title="Photo by <a href='http://www.alexanderboardman.com/' target='_blank' style='color:white;'>Alexander Boardman</a>">
							<img src="https://dl.dropboxusercontent.com/s/yf96asdk1xfk17z/bathroom_mb_04.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Residence</h2>
					<p><strong>Completed:</strong> 2011</p>
					<p><strong>Location:</strong> Summit, NJ</p>
					<p>Rosen Group Architecture | Design</p>
				</div>
				<div class="projectSlider">
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/v8o9if73lwmjdgn/Sorrentino18.jpg" data-lightbox="sorrentino" data-title="Family room and breakfast area addition. Kitchen, bathroom and master suite renovations.">
					  	<img src="https://dl.dropboxusercontent.com/s/v8o9if73lwmjdgn/Sorrentino18.jpg">
				  	</a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/3ymtrehiyeuh7d7/Sorrentino17.jpg" data-lightbox="sorrentino" data-title="Family room and breakfast area addition. Kitchen, bathroom and master suite renovations.">
					  	<img src="https://dl.dropboxusercontent.com/s/3ymtrehiyeuh7d7/Sorrentino17.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/dmd94yu1qcuziso/Sorrentino4.jpg" data-lightbox="sorrentino" data-title="Family room and breakfast area addition. Kitchen, bathroom and master suite renovations.">
					  	<img src="https://dl.dropboxusercontent.com/s/dmd94yu1qcuziso/Sorrentino4.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/dbbtuj98z344s1e/Sorrentino1.jpg" data-lightbox="sorrentino" data-title="Family room and breakfast area addition. Kitchen, bathroom and master suite renovations.">
					  	<img src="https://dl.dropboxusercontent.com/s/dbbtuj98z344s1e/Sorrentino1.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/c8tshbpsofnp4hq/Sorrentino2.jpg" data-lightbox="sorrentino" data-title="Family room and breakfast area addition. Kitchen, bathroom and master suite renovations.">
					  	<img src="https://dl.dropboxusercontent.com/s/c8tshbpsofnp4hq/Sorrentino2.jpg">
					  </a>
				  </div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Residence</h2>
					<p><strong>Completed:</strong> 2008</p>
					<p><strong>Location:</strong> Summit, NJ</p>
					<p>Rosen Group Architecture | Design</p>
				</div>
				<div class="projectSlider">
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/1hx7sfeytwylgo7/Lima2.jpg" data-lightbox="lima" data-title="New Construction Residence featuring lead windows, tall coffered ceilings, and painted wood paneling throughout.">
					  	<img src="https://dl.dropboxusercontent.com/s/1hx7sfeytwylgo7/Lima2.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/ztl3ra21sphipl7/Lima3.jpg" data-lightbox="lima" data-title="New Construction Residence featuring lead windows, tall coffered ceilings, and painted wood paneling throughout.">
					  	<img src="https://dl.dropboxusercontent.com/s/ztl3ra21sphipl7/Lima3.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/54r0p0zm7khmdne/Lima9.jpg" data-lightbox="lima" data-title="New Construction Residence featuring lead windows, tall coffered ceilings, and painted wood paneling throughout.">
					  	<img src="https://dl.dropboxusercontent.com/s/54r0p0zm7khmdne/Lima9.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/bitq0egzg5r9swr/Lima5.jpg" data-lightbox="lima" data-title="New Construction Residence featuring lead windows, tall coffered ceilings, and painted wood paneling throughout.">
					  	<img src="https://dl.dropboxusercontent.com/s/bitq0egzg5r9swr/Lima5.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/idi63wfx7vxa1cr/Lima6.jpg" data-lightbox="lima" data-title="New Construction Residence featuring lead windows, tall coffered ceilings, and painted wood paneling throughout.">
					  	<img src="https://dl.dropboxusercontent.com/s/idi63wfx7vxa1cr/Lima6.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/xczq3jrgs6q09i8/Lima11.jpg" data-lightbox="lima" data-title="New Construction Residence featuring lead windows, tall coffered ceilings, and painted wood paneling throughout.">
					  	<img src="https://dl.dropboxusercontent.com/s/xczq3jrgs6q09i8/Lima11.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/5dvh40is3w74anb/Lima4.jpg" data-lightbox="lima" data-title="New Construction Residence featuring lead windows, tall coffered ceilings, and painted wood paneling throughout.">
					  	<img src="https://dl.dropboxusercontent.com/s/5dvh40is3w74anb/Lima4.jpg">
				  	</a>
				  </div>
				  <div>
				  	<a href="https://dl.dropboxusercontent.com/s/ji42eoch4pc4kiz/Lima12.jpg" data-lightbox="lima" data-title="New Construction Residence featuring lead windows, tall coffered ceilings, and painted wood paneling throughout.">
					  	<img src="https://dl.dropboxusercontent.com/s/ji42eoch4pc4kiz/Lima12.jpg">
					  </a>
				  </div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Residence</h2>
					<p><strong>Completed:</strong> 2010</p>
					<p><strong>Location:</strong> Summit, NJ</p>
					<p>Rosen Group Architecture | Design</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/e30olg3p55y7308/residence_1.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/e30olg3p55y7308/residence_1.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/j420hysmp52wxqd/residence_2.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/j420hysmp52wxqd/residence_2.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ayz60ydcxgh7eio/residence_3.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/ayz60ydcxgh7eio/residence_3.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/u784kkpihyxu2in/residence_4.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/u784kkpihyxu2in/residence_4.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ix0kyts0oexstd5/residence_5.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/ix0kyts0oexstd5/residence_5.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ftoyuzivk4ngunh/residence_6.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/ftoyuzivk4ngunh/residence_6.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/pdlyn7nn90cmdv6/residence_7.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/pdlyn7nn90cmdv6/residence_7.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/2r2g60l5ynz7m7g/residence_8.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/2r2g60l5ynz7m7g/residence_8.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/umdo40sgyn9p97e/residence_9.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/umdo40sgyn9p97e/residence_9.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/s2yew6q55tucrzf/residence_10.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/s2yew6q55tucrzf/residence_10.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/fa3swysl0q2z5js/residence_11.jpg" data-lightbox="residence" data-title="Whole house renovation and family room addition.  All exterior siding, roofing, and stone base have been restored/ replaced with original materials.  The front has been restored with column details original to the house.  The interior was completely renovated and incorporated many traditional details such as coffered ceilings, detailed wood paneling, vaulted ceilings, lead windows, stone tile floors, beadboard ceilings, wood mantels and stone surrounds.">
							<img src="https://dl.dropboxusercontent.com/s/fa3swysl0q2z5js/residence_11.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">New Construction</h2>
					<p><strong>Location:</strong> Summit, NJ</p>
					<p>Rosen Group Architecture | Design</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://dl.dropboxusercontent.com/s/r21qux1yf2fgo57/cardone-1st-floor.jpg" data-lightbox="residence">
							<img src="https://dl.dropboxusercontent.com/s/r21qux1yf2fgo57/cardone-1st-floor.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/hzfayavdqj8gn7w/cardone-2nd-floor.jpg" data-lightbox="residence">
							<img src="https://dl.dropboxusercontent.com/s/hzfayavdqj8gn7w/cardone-2nd-floor.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/ud1r1ceozflprj9/cardone_01.jpg" data-lightbox="residence">
							<img src="https://dl.dropboxusercontent.com/s/ud1r1ceozflprj9/cardone_01.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/qfr5im9rsux73c0/cardone_02.jpg" data-lightbox="residence">
							<img src="https://dl.dropboxusercontent.com/s/qfr5im9rsux73c0/cardone_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/wsso4d3sjjcqak4/cardone_03.jpg" data-lightbox="residence">
							<img src="https://dl.dropboxusercontent.com/s/wsso4d3sjjcqak4/cardone_03.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/5ygx9f0llauulq3/cardone_04.jpg" data-lightbox="residence">
							<img src="https://dl.dropboxusercontent.com/s/5ygx9f0llauulq3/cardone_04.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/9i6ymxd709noqv7/cardone_05.jpg" data-lightbox="residence">
							<img src="https://dl.dropboxusercontent.com/s/9i6ymxd709noqv7/cardone_05.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/6mwgmmias4gs7ox/cardone_06.jpg" data-lightbox="residence">
							<img src="https://dl.dropboxusercontent.com/s/6mwgmmias4gs7ox/cardone_06.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Residence</h2>
					<p><strong>Completed:</strong> 2010</p>
					<p><strong>Location:</strong> Summit, NJ</p>
					<p>Rosen Group Architecture | Design</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="https://www.dropbox.com/s/rg5yjlrl5anjq9p/maslin_ext_01.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://www.dropbox.com/s/rg5yjlrl5anjq9p/maslin_ext_01.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/bn833ic5x8q0bbb/maslin_ext_02.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/bn833ic5x8q0bbb/maslin_ext_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/2opn2zdv8d9o038/maslin_07.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/2opn2zdv8d9o038/maslin_07.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/nuvigwxd0gfquye/maslin_08.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/nuvigwxd0gfquye/maslin_08.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/w3qhobibe589u3w/maslin_09.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/w3qhobibe589u3w/maslin_09.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/jpmu26j7hte7fuo/maslin_10.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/jpmu26j7hte7fuo/maslin_10.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/k7ss1d04dpw9xez/maslin_01.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/k7ss1d04dpw9xez/maslin_01.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/o8aa6wx8pht5l6r/maslin_03.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/o8aa6wx8pht5l6r/maslin_03.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/t9by14s9sjhtpv8/maslin_04.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/t9by14s9sjhtpv8/maslin_04.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/uvkiy1vutjd0c9e/maslin_02.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/uvkiy1vutjd0c9e/maslin_02.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/uzek2wfvpidbkx1/maslin_06.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/uzek2wfvpidbkx1/maslin_06.jpg">
						</a>
					</div>
					<div>
						<a href="https://dl.dropboxusercontent.com/s/5ogy36bpvvbep34/maslin_05.jpg" data-lightbox="residence" data-title="Traditional exterior box with modern interior.">
							<img src="https://dl.dropboxusercontent.com/s/5ogy36bpvvbep34/maslin_05.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="push"></div>
		<section>
			<div class="footer">
				<img class="footer-logo" src="https://dl.dropboxusercontent.com/s/vhn99tcvogef2eu/tbd.png">
				<p class="copyright" style="margin-bottom:10px;">theodora boyadjis designs llc</p>
				<div class="social-media">
					<p class="copyright" style="margin-right:15px;">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="https://dl.dropboxusercontent.com/s/2gcjla8g1ln0i8b/linkedin_logo.png">
						</a>
					</p>
					<p class="copyright" style="margin-right:15px;">
						<a href="http://www.houzz.com/pro/tboyadjis/__public" target="_blank">
							<img src="https://dl.dropboxusercontent.com/s/lpsn0dhpfwd7p7y/houzz_logo.png" style="height:25px;">
						</a>
					</p>
					<p class="copyright">
						<a href="https://www.pinterest.com/theodorabdesign/" target="_blank">
							<img src="https://dl.dropboxusercontent.com/s/2ntb1rvwpunjqu4/Pinterest-badge-36px.png" style="height:25px;">
						</a>
					</p>
			</div>
				<p class="copyright footer-contact">&copy; TBD 2017 | info@theodorabdesigns.com | (908) 208-6085 | made with &#10084; by <a class="creator" href="https://github.com/japaranian">japaranian</p>
			</div>
		</section>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<script type="text/javascript" src="slick/slick/slick.min.js"></script>
		<script type="text/javascript" src="lightbox/js/lightbox.js"></script>
		<script type="text/javascript" src="/javascripts/scripts.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			  $('.projectSlider').slick({
			    infinite: false,
			    variableWidth: true,
			    mobileFirst: true,
			    slidesToShow: 1,
				  slidesToScroll: 1
			  });
			});
		</script>
	</body>
</html>