<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>TBD</title>
		<meta name="description">
		<link rel="stylesheet" href="/stylesheets/base.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="lightbox/css/lightbox.css">
		<link rel="stylesheet" href="slick/slick/slick.css"/>
		<link rel="stylesheet" href="slick/slick/slick-theme.css"/>
		<link href='https://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico"/>
	</head>
	<body>
		<nav class="fixed-nav-bar">
			<div id="menu" class="menu">
				<a class="sitename" href="fixed-navigation-bar.html">TBD</a>
				<!-- Example responsive navigation menu  -->
				<a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
				<ul class="menu-items">
					<li><a href="">About</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</div>
		</nav>
		<section class="content">
			<div class="description">
				<h1>theodora boyadjis designs</h1>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">New Construction</h2>
					<p><strong>Completed:</strong> 2015</p>
					<p><strong>Location:</strong> Pahos, Cyprus</p>
				</div>
				<div class="projectSlider">
				  <div>
				  	<a href="images/Pahos_Exterior2.jpg" data-lightbox="pahos" data-title="Testing">
					  	<img src="images/Pahos_Exterior2.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Pahos_Exterior3.jpg" data-lightbox="pahos" data-title="Testing">
					  	<img src="images/Pahos_Exterior3.jpg">
				  	</a>
				  </div>
				  <div>
				  	<a href="images/Pahos_Interior.jpg" data-lightbox="pahos" data-title="Testing">
					  	<img src="images/Pahos_Interior.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Pahos_Exterior.jpg" data-lightbox="pahos" data-title="Testing">
					  	<img src="images/Pahos_Exterior.jpg">
					  </a>
				  </div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Residence</h2>
					<p><strong>Completed:</strong> 2011</p>
					<p><strong>Location:</strong> Summit, NJ</p>
					<p>Rosen Group Architecture | Design</p>
				</div>
				<div class="projectSlider">
				  <div>
				  	<a href="images/Sorrentino18.jpg" data-lightbox="sorrentino" data-title="Testing">
					  	<img src="images/Sorrentino18.jpg">
				  	</a>
				  </div>
				  <div>
				  	<a href="images/Sorrentino17.jpg" data-lightbox="sorrentino" data-title="Testing">
					  	<img src="images/Sorrentino17.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Sorrentino4.jpg" data-lightbox="sorrentino" data-title="Testing">
					  	<img src="images/Sorrentino4.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Sorrentino1.jpg" data-lightbox="sorrentino" data-title="Testing">
					  	<img src="images/Sorrentino1.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Sorrentino2.jpg" data-lightbox="sorrentino" data-title="Testing">
					  	<img src="images/Sorrentino2.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Sorrentino4.jpg" data-lightbox="sorrentino" data-title="Testing">
					  	<img src="images/Sorrentino4.jpg">
				  	</a>
				  </div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Residence</h2>
					<p><strong>Completed:</strong> 2008</p>
					<p><strong>Location:</strong> Summit, NJ</p>
					<p>Rosen Group Architecture | Design</p>
				</div>
				<div class="projectSlider">
				  <div>
				  	<a href="images/Lima2.jpg" data-lightbox="lima" data-title="Testing">
					  	<img src="images/Lima2.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Lima3.jpg" data-lightbox="lima" data-title="Testing">
					  	<img src="images/Lima3.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Lima9.jpg" data-lightbox="lima" data-title="Testing">
					  	<img src="images/Lima9.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Lima5.jpg" data-lightbox="lima" data-title="Testing">
					  	<img src="images/Lima5.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Lima6.jpg">
					  	<img src="images/Lima6.jpg" data-lightbox="lima" data-title="Testing">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Lima11.jpg" data-lightbox="lima" data-title="Testing">
					  	<img src="images/Lima11.jpg">
					  </a>
				  </div>
				  <div>
				  	<a href="images/Lima4.jpg" data-lightbox="lima" data-title="Testing">
					  	<img src="images/Lima4.jpg">
				  	</a>
				  </div>
				  <div>
				  	<a href="images/Lima12.jpg" data-lightbox="lima" data-title="Testing">
					  	<img src="images/Lima12.jpg">
					  </a>
				  </div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Residence</h2>
					<p><strong>Completed:</strong> 2010</p>
					<p><strong>Location:</strong> Summit, NJ</p>
					<p>Rosen Group Architecture | Design</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="images/residence_1.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_1.jpg">
						</a>
					</div>
					<div>
						<a href="images/residence_2.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_2.jpg">
						</a>
					</div>
					<div>
						<a href="images/residence_3.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_3.jpg">
						</a>
					</div>
					<div>
						<a href="images/residence_4.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_4.jpg">
						</a>
					</div>
					<div>
						<a href="images/residence_5.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_5.jpg">
						</a>
					</div>
					<div>
						<a href="images/residence_6.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_6.jpg">
						</a>
					</div>
					<div>
						<a href="images/residence_7.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_7.jpg">
						</a>
					</div>
					<div>
						<a href="images/residence_8.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_8.jpg">
						</a>
					</div>
					<div>
						<a href="images/residence_9.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_9.jpg">
						</a>
					</div>
					<div>
						<a href="images/residence_10.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_10.jpg">
						</a>
					</div>
					<div>
						<a href="images/residence_11.jpg" data-lightbox="residence" data-title="Testing">
							<img src="images/residence_11.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Kitchen Renovation</h2>
					<p><strong>Completed:</strong> 2014</p>
					<p></strong>Location:</strong> Marlton, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="images/kitchen_existing.jpg" data-lightbox="kitchen" data-title="Testing">
							<img src="images/kitchen_existing.jpg">
						</a>
					</div>
					<div>
						<a href="images/kitchen_new.jpg" data-lightbox="kitchen" data-title="Testing">
							<img src="images/kitchen_new.jpg">
						</a>
					</div>
					<div>
						<a href="images/kitchen_new2.jpg" data-lightbox="kitchen" data-title="Testing">
							<img src="images/kitchen_new2.jpg">
						</a>
					</div>
					<div>
						<a href="images/kitchen_new3.jpg" data-lightbox="kitchen" data-title="Testing">
							<img src="images/kitchen_new3.jpg">
						</a>
					</div>
					<div>
						<a href="images/kitchen_new4.jpg" data-lightbox="kitchen" data-title="Testing">
							<img src="images/kitchen_new4.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Kitchen Renovation</h2>
					<p><strong>Completed:</strong> 2010</p>
					<p><strong>Location:</strong> East Brunswick, NJ</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="images/kitchen_1.jpg" data-lightbox="kitchen1" data-title="Testing">
							<img src="images/kitchen_1.jpg">
						</a>
					</div>
					<div>
						<a href="images/kitchen_2.jpg" data-lightbox="kitchen1" data-title="Testing">
							<img src="images/kitchen_2.jpg">
						</a>
					</div>
					<div>
						<a href="images/kitchen_3.jpg" data-lightbox="kitchen1" data-title="Testing">
							<img src="images/kitchen_3.jpg">
						</a>
					</div>
					<div>
						<a href="images/kitchen_4.jpg" data-lightbox="kitchen1" data-title="Testing">
							<img src="images/kitchen_4.jpg">
						</a>
					</div>
					<div>
						<a href="images/kitchen_5.jpg" data-lightbox="kitchen1" data-title="Testing">
							<img src="images/kitchen_5.jpg">
						</a>
					</div>
				</div>
			</div>
			<div class="projectRow">
				<div class="projectDescription">
					<h2 class="project-category">Lobby Renovation</h2>
					<p><strong>Completed:</strong> 2015</p>
					<p><strong>Location:</strong> Secaucus, NJ</p>
					<p>Studio 1200</p>
				</div>
				<div class="projectSlider">
					<div>
						<a href="images/lobby_reno1.jpg" data-lightbox="lobby" data-title="Testing">
							<img src="images/lobby_reno1.jpg">
						</a>
					</div>
					<div>
						<a href="images/lobby_reno2.jpg" data-lightbox="lobby" data-title="Testing">
							<img src="images/lobby_reno2.jpg">
						</a>
					</div>
					<div>
						<a href="images/lobby_reno3.jpg" data-lightbox="lobby" data-title="Testing">
							<img src="images/lobby_reno3.jpg">
						</a>
					</div>
					<div>
						<a href="images/lobby_reno4.jpg" data-lightbox="lobby" data-title="Testing">
							<img src="images/lobby_reno4.jpg">
						</a>
					</div>
				</div>
			</div>
		<section>
			<div class="footer">
				<ul>
					<li class="logos">
						<a href="https://www.linkedin.com/in/theodoraboyadjis" target="_blank">
							<img class="linkedinLogo" src="images/linkedin_logo.png">
						</a>
					</li>
				</ul>
				<p class="copyright">&copy; TBD 2016</p>
			</div>
		</section>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="slick/slick/slick.min.js"></script>
		<script type="text/javascript" src="lightbox/js/lightbox.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			  $('.projectSlider').slick({
			    infinite: false,
			    variableWidth: true,
			    mobileFirst: true,
			    slidesToShow: 1,
				  slidesToScroll: 1
			  });
			});
		</script>
	</body>
</html>