/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* BASIC */
body {
  max-width: 100%;
  overflow-x: hidden;
  color: #2e2e2e;
  font-family: 'Cantarell', sans-serif;
}
h1, h2 {
  font-weight: 600;
}
h1 {
  font-size: 36px;
  line-height: 46px;
  color: #000000;
}
h2 {
  font-size: 24px;
  line-height: 33px;
}
p {
  margin-bottom: 0;
}
h3 {
  font-size: 1.17em;
}
/* LAYOUT */
.content {
  position: relative;
}
.description {
/*  padding-top: 100px;*/
  text-align: center;
  margin-bottom: 50px;
}