.nav {
  background-color: #A29890;
  padding: 10px;
}
.nav-link {
  color: #fff;
}
/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
  margin-top: 20px;
}
h4 {
  font-size: 16px;
}

a:hover.index {
  color:#e40046;
}
.selectedIndex {
  color:#e40046 !important;
}
.selectedContact {
  color:#00b398 !important;
}
.selectedAbout, .selectedFaq {
  color:#307fe2 !important;
}
.selectedEvents {
  color: #d22630 !important;
}

a:hover.contact {
  color:#00b398;
}
a:hover.about, a:hover.faq{
  color:#307fe2;
}
a:hover.events {
  color: #d22630;
}
ul {
  list-style: none;
}

@media only screen and (min-width: 801px) {
  .projectDescription {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .aboutMe img {
    margin-right: 0 !important;
  }
  h1 {
    font-size: 31px !important;
  }
}
@media only screen and (max-width: 480px) {
  .aboutMeDescription {
    left: 0 !important;
  }
  .aboutMeDescription img {
    margin-right: 20px !important;
  }
  .aboutMe img {
    float: none !important;
  }
  .brief {
    width: 93% !important;
    position: relative;
    text-align: justify !important;
    margin-bottom: 20px;
  }
  .contactInfo {
    margin-bottom: 25px;
  }
  h1 {
    font-size: 33px;
  }
  .mainDescription {
    width: 87% !important;
    position: relative !important;
    text-align: justify !important;
  }
}

@media only screen and (max-width: 992px) {
  .projectSlider {
    clear: both;
    right: 12% !important;
  }
  .projectDescription {
    text-align: center;
    width: 100% !important;
    margin-bottom: 25px;
  }
  .description {
    width: 80%;
    margin-left: 10%;
  }
  .lastProject {
    margin-bottom: 60px !important;
  }
}
@media only screen and (min-width: 993px) {
  .description {
    width: 51%;
    margin:0px auto 50px auto;
  }
}
@media only screen and (min-width: 769px) {
  .aboutMeDescription {
    display: inline-block;
    left: 17%;
    position: relative;
  }
  .brief {
    width: 63%;
    margin-top: 35px;
    text-align: left !important;
  }
  .mainDescription {
    width:69%;
    margin-left: 17%;
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .brief {
    text-align: justify;
    margin-top: 0 !important;
    width: 93%;
  }
  .mainDescription {
    position: relative;
    text-align: justify;
    clear:both;
    width: 87%;
    left: 7%;
  }
  .aboutMeDescription {
    margin-left: 7%;
  }
  .social-media {
    margin-left: 39% !important;
  }
  .footer-logo{
    margin-left: 43% !important;
    margin-top: 20px;
  }
}
@media only screen and (width: 1024px) {
  .social-media {
    margin-left: 42% !important;
  }
  .footer-logo {
    margin-left: 45% !important;
  }
}
.footer {
  background-color: #A29890;
  clear:both;
}
.logos {
  position: relative;
  top: 40px;
  text-align: center;
}
.logos2 {
  position:relative;
  margin-top:60px;
  text-align: center;
}
.linkedinLogo {
  width: 30px;
}
.copyright {
  position: relative;
  color:#ffffff;
  text-align: center;
}
.projectRow {
  width: 100%;
  clear:both;
}
.projectDescription {
  float: left;
  width: 16%;
  margin-top: 45px;
}
.projectSlider {
  position: relative;
  right: 46px;
  width: 75%;
  float: right;
}
.projectSlider img {
  height: 220px;
  margin-right: 2px;
}
ul.slick-dots {
  display: none !important;
}


#lightbox {
  padding: 10px;
}
#lightboxDetails {
  font-size: 0.8em;
  padding-top: 0.4em;
} 
#lightboxCaption {
  float: left;
}
#keyboardMsg {
  float: right;
}
#closeButton {
  top: 5px; right: 5px;
}
#lightbox img {
  border: none;
  clear: both;
} 
#overlay img {
  border: none;
}
#overlay {
  background-image: url(overlay.png);
}

* html #overlay{
  background-color: #333;
  background-color: transparent;
  background-image: url(blank.gif);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
}
.contactInfo {
  text-align: center;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -260px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 260px; /* .push must be the same height as .footer */
}
.aboutMe {
  text-align: center;
}
.aboutMe {
  position: relative;
  margin-bottom: 25px;
}
.aboutMe img {
  margin-bottom: 25px;
  float: left;
  margin-right: 25px;
}
.intro {
  position: relative;
  text-align: center;
}
.description h1 {
  margin-bottom: 10px;
}
.creator {
  color: #ffffff;
}
.madeBy {
  position: relative;
  top:4%;
  color:#ffffff;
  text-align: center;
  font-size: 0.85em;
}
span.lb-number {
  display: none !important;
}
.canstruction {
  text-align: center;
}
.link {
  color: blue;
}
.goal {
  margin-bottom: 14px;
}

.canstructionImages {
  text-align: center;
}
.canstructionImages img{
  height: 250px;
}
.eventsIntro {
  width: 75%;
  margin-left: 13%;
  text-align: justify;
  margin-bottom: 30px;
}
.sponsors {
  width: 75%;
  margin-left: 14%;
  text-align: center;
}
.sponsors img {
  margin: 20px 10px;
}
.eventTitle {
  margin-left: 13%;
  margin-bottom: 13px;
}
.workingWithArchitect {
  margin-bottom: 60px;
}
.workingWithArchitect h3 {
  margin-bottom: 10px;
}
.openAll {
  background-color: #909aa2;
  width: 918px;
  padding: 7px;
  text-align: right;
  margin-bottom: 10px;
}
.openAll a {
  color: #fff;
}

@media only screen and (max-width: 376px) {
  .canstructionImages {
    width: 333px;
    margin-left: 15px;
  }
  .canstructionImages img{
    height: 175px;
  }
  .raymondsLogo {
    width: 260px;
  }
  .eventsIntro {
    width: 272px;
  }
  .social-media {
    margin-left:28% !important;
  }
}
.social-media {
  display: inline-flex;
  position: relative;
  margin-left:43.5%;
}
.footer-logo {
  margin-left:46%;
  margin-top:20px;
}
@media only screen and (max-width: 414px) {
  p.copyright.footer-contact {
    display: none;
  }
  .footer-logo {
    margin-left: 36% !important;
  }
  .social-media {
  display: inline-flex;
  margin-left:30% !important;
  }
}
@media only screen and (max-width: 320px) {
  .social-media {
    margin-left: 25% !important;
  }
}

/*accordion style*/

.faq-question:before {
  content: "+";
  margin-right: 20px;
}

.faq-question.selected:before {
  content: "-";
  margin-right: 20px;
}

.faq-question{
  padding-left: 50px;
  padding-top: 16px;
  padding-right: 30px;
  padding-bottom: 16px;
/*  width: 852px;
*/  color: #fff;
}
.faq-question.gray1.selected{
  background: #A29890;
}
.faq-question.gray2.selected{
  background: #c5bfba;
}
.faq-question:hover{
  cursor:pointer;
}

.faq-description {
/*  border-bottom: 2px solid #A29890;
  border-right: 2px solid #A29890;
  border-left: 2px solid #A29890;*/
  padding: 13px 25px;
/*  width: 882px;
*/  background-color: #e2dfdc;
}
.gray1 {
  background-color: #A29890;
}
.gray2 {
  background-color: #c5bfba;
}