.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #A29890;
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
  margin-top: 20px;
}

/* navigation menu  */
.fixed-nav-bar a { 
  height: 50px;
  line-height: 50px;
}
.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.menu a, .menu a:hover, .menu a:target {
  color: #ebebeb;
}
.sitename {
  display: inline-block;
}
a:hover.sitename {
  color:#e40046;
}
.selectedIndex {
  color:#e40046 !important;
}
.selectedContact {
  color:#00b398 !important;
}
.selectedAbout {
  color:#307fe2 !important;
}
.selectedEvents {
  color: #d22630 !important;
}
a:hover.contact {
  color:#00b398;
}
a:hover.about{
  color:#307fe2;
}
a:hover.events {
  color: #d22630;
}
ul {
  list-style: none;
}
.sitename.selectedIndex {
  font-weight: 900;
}
.menu-items {
  display: inline-block;
  margin-left: 3%;
}

@media only screen and (min-width: 801px) {
  .projectDescription {
    margin-left: 15px;
  }

}

@media only screen and (max-width: 800px) {
  .sitename {
    position: absolute;
    top: 0;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 320px) {
  .aboutMe img {
    margin-right: 0 !important;
  }
  h1 {
    font-size: 31px !important;
  }
  .menu a {
    margin-right: 0;
  }
  .sitename{
    margin-left: 7% !important;
  }
  .about {
    margin-left: 26% !important;
  }
}
@media only screen and (max-width: 480px) {
  .aboutMeDescription {
    left: 0 !important;
  }
  .aboutMeDescription img {
    margin-right: 20px !important;
  }
  .aboutMe img {
    float: none !important;
  }
  .brief {
    width: 93% !important;
    position: relative;
    text-align: justify !important;
    margin-bottom: 20px;
  }
  .contactInfo {
    margin-bottom: 25px;
  }
  h1 {
    font-size: 33px;
  }
  .menu {
/*    text-align: center;
*/  }
  .mainDescription {
    width: 87% !important;
    position: relative !important;
    text-align: justify !important;
  }
  .sitename {
    margin-left: 3%;
  }
  a.about {
    margin-left: 23%;
  }
  a.contact {
    margin-left: 9%;
  }
  a.events {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 992px) {
  .projectSlider {
    clear: both;
    right: 12% !important;
  }
  .projectDescription {
    text-align: center;
    width: 100% !important;
    margin-bottom: 25px;
  }
  .description {
    width: 80%;
    margin-left: 10%;
  }
  .lastProject {
    margin-bottom: 60px !important;
  }
}
@media only screen and (min-width: 993px) {
  .description {
    width: 51%;
    margin-left: 24%;
  }
}
@media only screen and (min-width: 769px) {
  .aboutMeDescription {
    display: inline-block;
    left: 17%;
    position: relative;
  }
  .brief {
    width: 63%;
    margin-top: 35px;
    text-align: left !important;
  }
  .mainDescription {
    width:69%;
    margin-left: 17%;
    text-align: left;
  }
  .about {
    margin-left: 4% !important;
  }
}
@media only screen and (max-width: 768px) {
  .brief {
    text-align: justify;
    margin-top: 0 !important;
    width: 93%;
  }
  .mainDescription {
    position: relative;
    text-align: justify;
    clear:both;
    width: 87%;
    left: 7%;
  }
  .about {
    margin-left: 7%;
  }
  .aboutMeDescription {
    margin-left: 7%;
  }
  .social-media {
    margin-left: 39% !important;
  }
  .footer-logo{
    margin-left: 43% !important;
    margin-top: 20px;
  }
}
@media only screen and (width: 1024px) {
  .social-media {
    margin-left: 42% !important;
  }
  .footer-logo {
    margin-left: 45% !important;
  }
}
.footer {
  background-color: #A29890;
  clear:both;
}
.logos {
  position: relative;
  top: 40px;
  text-align: center;
}
.logos2 {
  position:relative;
  margin-top:60px;
  text-align: center;
}
.linkedinLogo {
  width: 30px;
}
.copyright {
  position: relative;
  color:#ffffff;
  text-align: center;
}
.projectRow {
  width: 100%;
  clear:both;
}
.projectDescription {
  float: left;
  width: 16%;
  margin-top: 45px;
}
.projectSlider {
  position: relative;
  right: 46px;
  width: 75%;
  float: right;
}
.projectSlider img {
  height: 220px;
  margin-right: 2px;
}
ul.slick-dots {
  display: none !important;
}


#lightbox {
  padding: 10px;
}
#lightboxDetails {
  font-size: 0.8em;
  padding-top: 0.4em;
} 
#lightboxCaption {
  float: left;
}
#keyboardMsg {
  float: right;
}
#closeButton {
  top: 5px; right: 5px;
}
#lightbox img {
  border: none;
  clear: both;
} 
#overlay img {
  border: none;
}
#overlay {
  background-image: url(overlay.png);
}

* html #overlay{
  background-color: #333;
  background-color: transparent;
  background-image: url(blank.gif);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
}
.contactInfo {
  text-align: center;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -260px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 260px; /* .push must be the same height as .footer */
}
.aboutMe {
  text-align: center;
}
.aboutMe {
  position: relative;
  margin-bottom: 25px;
}
.aboutMe img {
  margin-bottom: 25px;
  float: left;
  margin-right: 25px;
}
.intro {
  position: relative;
  text-align: center;
}
.description h1 {
  margin-bottom: 10px;
}
.creator {
  color: #ffffff;
}
.madeBy {
  position: relative;
  top:4%;
  color:#ffffff;
  text-align: center;
  font-size: 0.85em;
}
span.lb-number {
  display: none !important;
}
.canstruction {
  text-align: center;
}
.link {
  color: blue;
}
.goal {
  margin-bottom: 14px;
}

.canstructionImages {
  text-align: center;
}
.canstructionImages img{
  height: 250px;
}
.eventsIntro {
  width: 75%;
  margin-left: 13%;
  text-align: justify;
  margin-bottom: 30px;
}
.sponsors {
  width: 75%;
  margin-left: 14%;
  text-align: center;
}
.sponsors img {
  margin: 20px 10px;
}
.eventTitle {
  margin-left: 13%;
  margin-bottom: 13px;
}
@media only screen and (max-width: 376px) {
  .canstructionImages {
    width: 333px;
    margin-left: 15px;
  }
  .canstructionImages img{
    height: 175px;
  }
  .raymondsLogo {
    width: 260px;
  }
  .eventsIntro {
    width: 272px;
  }
  .social-media {
    margin-left:28% !important;
  }
}
.social-media {
  display: inline-flex;
  position: relative;
  margin-left:43.5%;
}
.footer-logo {
  margin-left:46%;
  margin-top:20px;
}
@media only screen and (max-width: 414px) {
  p.copyright.footer-contact {
    display: none;
  }
  .footer-logo {
    margin-left: 36% !important;
  }
  .social-media {
  display: inline-flex;
  margin-left:30% !important;
  }
}
@media only screen and (max-width: 320px) {
  .social-media {
    margin-left: 25% !important;
  }
}